:root{
	--btn_bg: #000;
	--btn_color: #fff;
	--a_href_color: #000; 	        
	--level_1_color: #222;  		
	--product_price_color: #666;	
	--product_title_color: #30323A;	
	--footer_bg: #d6ebf5;		
	--header_bg: #fff;		
	--top_menu_bg: #fff;		
	--menu_bg: #30323A;		
	--body_color: #222;		
	--body_bg: #fff;
	--top_menu_color: #000;
	--h2_color: #30323A;
	--login_btn_bg: transparent;
	--login_btn_color: #000;
	--cart_number_bg: #f79a87;
	--categories_title_bg: #fff;
	--categories_level_1_bg: #fff;
	--categories_level_2_bg: #fff;
	--level_2_color: #222;
	--inner_body_bg: #fff;
	--product_bg: #fff;
	--product_bottom_bg: #fff;
	--review_star_color: #f79a87;
	--paragraph_color: #fff;
	--h5_color: #666666;
	--input_bg_color: #fff;
	--breadcrumb_bg: rgba(234, 245, 250,.4);
	--product_list_bg: rgba(234, 245, 250,.4);
	--currency_bg: transparent;
	--currency_color: #000;
	--filters_bg: #fff;
 	--pagination_bg: #fff;
 	--pagination_bg_active: #fff;
    --pagination_color_active:  #f79a87;
    --article_product_price_color: #D13E3B;
    --discount_price_color: #D13E3B;
    --add_to_cart_btn_bg: #000;
    --add_to_cart_btn_color: #fff;
    --add_to_cart_btn_bg_hover: #30323A;
    --add_to_cart_btn_bg_not_available: #000;
    --btn_hover_bg: #f74922;
    --sale_action_price_bg: #f79a87;
  /*	--sale_action_bg: #30323A;*/
  	--product_old_price_color: #f79a87;
  	--label_color: #222;
  	--scroll_top_bg: #fff;
	}