body {
	 background-color: #efefef;
}

#main-slider .slick-prev, #main-slider .slick-next,
button.company-registration {
	background-color: #666;
}
 

.header-cart-icon span, #categories .level-2 > li > a, .breadcrumbs li a,
.product-preview-info li a, .cart-name a, .summary-amount,
.login-form .forget-password, .product .product-title,  
#logged-user {
	color: #666;
}

p a {
	color: #f1b64f;
}
 
#categories .level-1 > li > a {
	background-color: #ffffff;
	font-size: 1.2em;
	color: #222222;
}
 

.submit, .product-slider .slick-prev,
.product-slider .slick-next, .newsletter button, .add-to-cart-area .add-to-cart,
input.submit, .pagination li a, button.person-registration, .cart-more-icon,
.submit-order-button, a.reset-filters-button {
	background-color:   #2978B0;
}

/* KONFIGURATOR */

.konfigurator tr {
	margin: 0;
	padding: 0 0px;
}
.konfigurator td {
	margin: 0;
	padding: 0 2px;
}
.konfigurator select {
	width: 470px;
}

.konfigurator .JSKolicina {
	margin-bottom: 0px;
}

.dodaj-konf {
	padding: 15px;
	float: right;
	margin-right: 15px;
}

.ukupno-konf {
	width: 250px;
	float: right;
	margin-left: 15px;

}

#JSUkupnaCenaKonf, #JSKorpaUkupnaCena, #JSUkupno {
	font-size: 23px;
	font-weight: bold;
	color: orange;
}

.ukupno-konf p {
	margin-bottom: 0;
}

.ukupno-konf-div {
	background-color: #fff;
	padding: 10px;
}

.JSGrupaAdd, .JSArtDetails {
	cursor: pointer;
	color: #f4a137;
}

.JSGrupaRemove {
	cursor: pointer;
	color: red;
}

.JSKolicina {
	width: 40px !important;
}

.select-wrapper {
	display: inline;
}

.slick-slider {
	margin-bottom: 10px;
}

.slick-track {
	margin-bottom: 10px;
}


