body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	margin: 0;
	padding: 0;
	color: #222;
	background: #fff;
	-webkit-font-smoothing: antialiased;
}
/*========= BOOTSTRAP OVERRIDES ======*/
.row {margin: 0; }
.relative{ position: relative; }
.container-fluid{padding: 0; }
.dropdown, .dropup {display: inline-block; }
input[type=checkbox], input[type=radio]{ margin: 0 5px; }
.no-padding{ padding: 0; }
img{ color: #999; font-size: 12px; line-height: 1; }
h1, h2, h3, h4, h5, h6 { font-weight: 600; font-family: 'Open Sans', Arial, sans-serif; margin: 0; }
.red-dot-error{ color: red; font-size: 12px; }
#map_canvas { height: 330px; margin: 10px 0; }
/*======================================*/
a:link, a:visited, a:active { text-decoration: none; color: #595959; outline: none; }
a:hover, footer .footer-lists li a:hover{ color: #F8694A; }
ul { list-style-type: none; margin: 0; padding: 0; }
h1 { font-size: 1.8em; }
h2 { font-size: 18px; }
h3 { font-size: 1.3em; background: #f0f0f0; }
h4 { font-size: 1.2em; }
h5 { font-size: 1.1em; }
h6 { font-size: 1em; }
button {
	color: #fff;
    padding: 5px 8px;
    background-color: #f8694a;
    border: none;
}
button:hover:not(.currency-btn):not(.menu-top-toggle):not(.slick-next):not(.slick-prev), .user-card-row a:hover, .all-filters .filters-remove-div a:hover, .news .news-read:hover {
    background-color: #f63409;
}
input[type="text"] {
    display: inline-block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}
input[type="text"]:focus, button:focus{ outline: none; }
span.select-wrapper { position: relative; display: block; }
span.select-wrapper::after {
    content: " ";
    border-top: 0.5em solid #808080;
    border-right: 0.4em solid transparent;
    border-left: 0.4em solid transparent;
    position: absolute;
    top: 42%;
    right: 8px;
}
select{ -moz-appearance: none; -webkit-appearance: none; }
textarea { resize: none; min-height: 100px; }
.contact-page .contact-heading{
    margin: 10px 0;
    border-bottom: 1px solid #ddd;
    font-weight: 500;
    font-size: 22px;
    background: #fff;
}
.JSleft-body-link, .JSright-body-link{
    /*border: 3px dashed red; */
    position: absolute;
    left: 0; 
}
.JSright-body-link { 
    /*border: 3px dashed #1aff1a; */
    left: unset;
    right: 0;
}
/*======= RELATED PRODUCT =========*/
.related-products .slick-prev, .related-products .slick-next{ display: none !important; }

/*--- PRODUCT SLIDER ---*/
.sale-products .slick-prev, .sale-products .slick-next{ top: -30px; }
.sale-products .slick-prev{ left: unset; right: 40px; }
.sale-products .slick-next{ right: 0; }
.sale-products .slick-prev:before, .sale-products .slick-next:before {
	position: absolute;
    font-family: FontAwesome;
    top: 0;
    line-height: 30px;
    height: 30px;
    width: 30px;
    opacity: 1;
    color: #f8694a;
    font-size: 35px;
}
.sale-products .slick-next:before { content: "\f105"; right: 0; }
.sale-products .slick-prev:before { content: "\f104"; left: 0; }
.sale-products .slick-prev:hover:before, .sale-products .slick-next:hover:before{ color: #f63409; transform: scale(1.2); } 
 /*=================================*/
.all-filters .filter-links {
	color: #222;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: space-between;
    margin: 0 0 7px;
    border-bottom: 1px solid #ccc;
}
.all-filters .select-fields-content{
	display: none;
}
.all-filters .select-fields-content label{
	display: flex;
    display: -webkit-flex;
    background: linear-gradient(to left, #fff, #ddd);
    padding: 5px;
    align-items: center;
    -webkit-align-items: center;
    font-size: .9em;
    line-height: 1;
}
.all-filters .select-fields-content label:hover{
    box-shadow: 1px 1px 2px #ccc;
}
.all-filters .filters-remove-div span{
    display: block;
    margin: 10px 0 0;
}
.all-filters .filters-remove-div a{
	color: #fff;
	display: inline-block;
	padding: 4px 15px;
	border-radius: 3px;
	background: #f8694a;
	margin: 10px 0;
}
.heading-background{
    color: #000000;
    padding: 10px 0;
    text-transform: uppercase;
    display: block;
    border-bottom: 1px solid #ccc;
    position: relative;
    margin: 0 0 5px 0;
    font-weight: normal;
}
.heading-background:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 40px;
    background-color: #F8694A;
}
/*=========================*/
.new-content {
    padding: 30px 0;
}
/* ============ PREHEADER =========== */
header #preheader {
    background-color: #222;
    color: #fff;
} 
header #preheader .container .navyBar { margin: 0; }
header #preheader a{
	color: #fff;
    display: inline-block;
    margin: 5px 0;
}
header #preheader a:hover{
	color: #f8694a;
}
/*=========== HEADER ================*/
header { background: #f2f2f2; }
header .logo {
	display: inline-block;
    padding: 15px 0;
    vertical-align: middle;
}
header .logo img {
    max-height: 65px;
}
header .div-in-header{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	display: -webkit-flex;
	-webkit-align-items: center;
	-webkit-flex-wrap: wrap;
}
header .header-cart{
    display: inline-block;
    padding: 10px 5px;
    margin: 15px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 15px;
    position: relative;
    color: #000;
}
header .header-cart .fa-shopping-cart{
	font-size: 20px;
	vertical-align: middle;
}
header .header-cart .cart-amount-number{
	position: absolute;
    background-color: #000;
    top: -10px;
    left: -10px;
}
header .header-cart .cart-amount-price{
	display: inline-block;
    vertical-align: middle;
} 
header .search-form{
    position: relative;
}
header .JSsearch-button{
	position: absolute;
    top: 0;
    right: 0;
    height: 34px;
    background-color: #f8694a;
    padding: 0 20px;
    border-radius: 0 4px 4px 0;
}
header .JSsearch_list {
    position: absolute;
    left: 0px;
    top: 35px;
    z-index: 999;
    width: 100%;
    background: #fff;
    box-shadow: 1px 1px 10px #b3b3b3;
    max-height: 400px;
    overflow: auto;
    font-size: .8em;
}
header .search_list__item__link {
    border-bottom: 1px solid #ddd;
    line-height: 1.4;
    margin: 0 0 5px;
    padding: 5px 10px;
    display: block;
    background: #f2f2f2;
}
header .search_list__item:last-child a {
    border-bottom: none;
}
header .search_list__item__link__text {
    display: inline-block;
    width: 70%;
}
header .search_list__item__link__cat {
    color: #808080;
    width: 30%;
    display: inline-block;
}
header .JSsearch-button i {
	font-size: 20px;
}
header .header-cart-content {
	background: #fff;
	position: absolute;
	width: 450px;
	right: 0;
	padding: 0 10px;
	box-shadow: 1px 1px 5px #666;
	visibility: hidden; 
	opacity: 0; 
	z-index: 999;
	transition: opacity .2s ease;
	-webkit-transition: opacity .2s ease;
}
header .mini-cart-container:hover .header-cart-content{
	visibility: visible;
	opacity: 1;
}
header .header-cart-content li {
	border-bottom: solid 1px #f0f0f0;
	padding: 5px 0;
	display: flex;
    align-items: center;
    justify-content: space-between;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: space-between;
}
header .header-cart-content li:last-child {
	border-bottom: none;
}
header .header-cart-image-wrapper {
	display: inline-block;
	width: 50px;
	height: 50px;
	line-height: 48px;
	text-align: center;
	border: solid 1px #ccc;
	background: #fff;
    overflow: hidden;
}
header .header-cart-content li img {
	max-width: 95%;
	max-height: 30px;
}
header .header-cart-content .header-cart-title {
	display: inline-block;
    width: 47%;
    padding: 0 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
header .header-cart-amount {
	display: inline-block;
    text-align: center;
    border: solid 1px #f0f0f0;
    padding: 3px;
}
header .header-cart-summary {
	margin: 2px 0;
    background: #f0f0f0;
    width: 100%;
    display: block;
}
header .header-cart-content a:last-child, .cart-remove .close {
    display: inline-block;
    width: 15px;
    height: 15px;
    line-height: 1;
    text-align: center;
    font-size: 20px;
    color: #F02626;
    float: none;
    opacity: .5;
}
header .header-cart-content a:last-child:hover, .cart-remove .close:hover{
 	transform: scale(1.5);
}
header .currency-change a.active{
	display: inline-block;
    background: #ffcc00;
    padding: 2px 7px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}
/*======= STICKY HEADER ANIMATION ========*/
header .JSsticky_header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 50;
    animation: smooth_slide .3s;
    background: #f2f2f2;
    box-shadow: 0 0px 5px #999;
}
@keyframes smooth_slide {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    } 
    100% {
        opacity: 1;
        transform: translateY(0);
    } 
}
header .JSsticky_header .logo{ padding: 0; }
header .JSsticky_header .logo img{ max-height: 50px; }
header .JSsticky_header .header-cart{ margin: 12px 0 6px; }

/*========= RESPONSIVE HEADER =========*/
header .menu-top-toggle{
    border: 1px solid #fff;
    margin: 5px 15px;
    padding: 7px;
}
header .menu-top-toggle span{
	background: #fff;
}
header .resp-nav-btn, header .JSclose-nav {
    display: none;
}
.JSsubcategory-toggler {
    display: none;
    position: absolute;
    right: 15px;
    top: 0;
    text-align: center;
}
.JSsubcategory-toggler span {
    display: inline-block;
    position: relative;
    width: 29px;
    height: 26px;
    line-height: 28px;
    top: 0;
    right: 0;
    cursor: pointer;
    font-size: 12px; 
}
/*========== CATEGORIES ==============*/
header .categories-menu{
	background: #30323a;
}
header .JScategories-titile {
    padding: 12px;
    margin: 0;
    text-align: center;
    background: #f8694a;
    color: #FFF;
    font-size: 16px;
    position: relative;
}
header .category-nav {
    width: 270px;
    display: inline-block;
}
#JScategories .JSlevel-1{
    display: none;
    position: absolute;
    background-color: #fff;
    font-weight: 600;
    width: 270px;
    border-right: 1px solid #DADADA;
    border-left: 1px solid #DADADA;
    z-index: 50;
    line-height: initial;
}
#JScategories:hover .JSlevel-1{
	display: block;
}
#JScategories .JSlevel-1 li a{
	position: relative;
	padding: 3px 15px;
	overflow: hidden;
	color: #000;
	font-size: 13px;
	border-bottom: solid 1px #ddd;
	min-height: 31px;
	display: block;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	display: -webkit-flex;
	-webkit-align-items: center;
	-webkit-flex-wrap: wrap;
}
#JScategories .JSlevel-2 {
    position: absolute;
    padding: 0 0 3px 0;
    width: 633px;
    display: none;
    top: 0px;
    left: 100%;
    background: #fff;
    overflow: hidden;
    z-index: 700;
}
#JScategories .level-1-img-container {
    display: inline-block;
    width: 25px;
    height: 25px;
    text-align: center;
    margin: 0 5px 0 0;
}
#JScategories .level-1-img {
    max-width: 25px;
    max-height: 23px;
    display: inline-block;
    padding: 1px;
}
#JScategories .JSlevel-2 li a {
    min-height: initial;
    padding: 7px 0 5px 10px;
    width: 100%;
}
#JScategories .JSlevel-3 li a {
    padding: 5px 0 2px 15px;
    border: none;
}
#JScategories .JSlevel-4 li a {
    padding: 5px 0 4px 20px;
}
#JScategories .JSlevel-4 li {
    display: none;
}
#JScategories .level-2-container-for-image {
    width: 60px;
    height: 50px;
    padding: 6px 0 !important;
}
#JScategories .JSCategoryLinkExpend {
    padding: 3px 5px;
    cursor: pointer; 
    position: absolute;
    top: 0;
    right: 0;
}
#JScategories .level-2-img {
    height: 100%;
    max-height: 50px;
    max-width: 55px;
    display: inline-block;
}
/*============ MAIN CONTENT ============*/
.main-content {
	background: #fff;
	min-height: 700px;
	padding: 0 10px 20px;
}
/*============ MAIN SLIDER ================ */
#main-slider {
	max-height: 500px;
	overflow: hidden;
    margin: 0;
}
#main-slider img{
	width: 100%;
    height: 100%;
    max-height: 500px;
    margin: 0 auto;
}
#main-slider .slick-next:before, #main-slider .slick-prev:before {
    position: absolute;
    font-family: FontAwesome;
    top: -50%;
    line-height: 47px;
    background: #666;
    height: 50px;
    width: 30px;
    opacity: 1;
    font-size: 40px;
    text-shadow: 0px 0px 1px #000, 0px 0px 1px #000;
}
#main-slider .slick-prev:before { content: "\f104"; left: 0; border-radius: 0 5px 5px 0; }
#main-slider .slick-next:before { content: "\f105"; right: 0; border-radius: 5px 0 0 5px; }
#main-slider .slick-next { right: 0; }
#main-slider .slick-prev { left: 0; }
#main-slider .slick-next:hover:before, #main-slider .slick-prev:hover:before{ background: #808080; }
.banners-right img{
    max-height: 300px;
    width: auto;
    padding: 5px;
    margin: auto;
}
.bw{ background-color: #fff; }
/*============ PRODUCT ================ */
.product-content, .product-content-list {
	position: relative;
    overflow: hidden;
    border: 1px solid #e6e6e6;
    background: #fff;
    font-family: "Open Sans", "Montserrat", "Helvetica Neue", Helvetica, sans-serif; 
    margin: 10px 3%;
}
.article-edit-btn{
    position: absolute;
    top: 0;
    right: 0;
    border: 1px solid #ccc;
    font-size: 11px;
    padding: 0 5px;
    background: #fff;
    z-index: 1;
}
.product-content-list{
    margin: 5px;
}
.product-content .product-image-wrapper, .product-content-list .product-image-wrapper {
    position: relative;
    height: 245px;
    display: flex; 
    display: -webkit-flex; 
    overflow: hidden;
}
.product-content-list .product-image-wrapper{
    height: 160px;
}
.product-content-list .product-image-wrapper img{
    max-height: 140px;
    margin: auto;
}
.product-content .product-image-wrapper img {
    max-height: 200px;
    padding: 0 10px;
    margin: auto;
}
.product-content .product-title, .product-content-list .product-title {
    display: block;
    height: 31px;
    overflow: hidden;
    margin: 5px 0; 
	font-size: 14px;
	color: #000;
	line-height: 1.1;
}
.product-content-list .product-title{ height: auto; margin: 20px 0 0; }

.product-content .product-info {
    padding: 5px 5px 20px;
}
.product-content .product-price, .product-content-list .product-price{
    height: 40px;
    font-size: 24px;
}
.product-content .quantity-text span, .product-content-list .quantity-text span{
    border-bottom: 1px solid #999;
    display: inline-block;
    margin: 0 0 5px;
}
.product-content .add-amount, .product-content-list .add-amount{
    width: 35px;
    height: 35px;
    margin: 0 5px;
    padding: 0;
    text-align: center;
}
.product-content .add-to-cart-container{
	display: flex;
    align-items: center;
    flex-wrap: wrap;
    display: -webkit-flex;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    -webkit-flex-wrap: wrap;
}
.product-content .add-to-cart, .product-content .not-available, .product-content .add-to-cart-products,
.product-content-list .add-to-cart-products, .product-content-list .not-available {
    display: inline-block;
    padding: 8px;
    margin: 5px;
    font-weight: 600;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
    cursor: pointer;
}
.product-content .add-to-cart:hover{
    background-color: #30323a;
}
.product-content .add-to-cart i {
    margin: 0 5px 0 0;
}
.product-content .not-available, .product-content-list .not-available {
    opacity: 0.6;
	cursor: text;
}
.product .product-content:hover, .product .product-content-list:hover {
    box-shadow: 0 0 10px #ccc;
}
/*========= CUSTOM PAGE =============*/
.custom-pages{
	padding: 30px;
}
.custom-pages img{
	max-width: 100%;
	max-height: 500px;
}
/*========= PRODUCT LIST ============*/
.product-list-options{
    background: #f2f2f2;
    margin: 5px 0;
    padding: 5px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-flex-wrap: wrap;
}
.product-list table img{
	max-height: 100px;
    margin: auto;
    min-width: 95px;
}
.product-list table thead th, .product-list table tbody td{
	vertical-align: middle;
	text-align: center;
	font-size: .9em;
    line-height: 1.3;
}
.product-list table thead th{
	background: #f2f2f2;
}
.addon-title{
    margin: 5px 0 0;
    padding: 5px 0 0; 
    color: #999;
    line-height: 1.2;
}
.product-content .addon-title{
    height: 38px;
    overflow: hidden;
    margin: 0;
}
.product-list table thead th:nth-child(1){ width: 20%; }
.product-list table tbody td:nth-child(1){ white-space: unset;  padding: 20px 2px 5px; }

.product-list table thead th:nth-child(2),
.product-list table thead th:nth-child(3),
.product-list table thead th:nth-child(5),
.product-list table thead th:nth-child(7),
.product-list table thead th:nth-child(9)
{ width: 10%; }
 
.product-list table thead th:nth-child(4),
.product-list table thead th:nth-child(8)
{ width: 7%; }
 
.product-list table thead th:nth-child(6){ width: 8%; }
 
.product-list table input{
	width: 30px;
    height: 28px;
    padding: 0;
    text-align: center;
    border-color: #ccc;
    margin: 5px 0 0;
}
.product-list table button{
	margin: 5px 0;
    padding: 5px;
}
/* ============ FOOTER =============== */
footer {
	background-color: #30323a;
	color: #fff;
    padding: 40px 0 20px;
    border-top: 2px solid #f8694a;
}
footer .pre-footer{
	padding: 0 0 30px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	display: -webkit-flex;
	-webkit-align-items: center;
	-webkit-flex-wrap: wrap;
}
footer .newsletter-text{
	font-size: 25px;
}
footer .newsletter-text p{
    display: inline-block;
    margin: 0 5px;
}
footer .newsletter-text i{
 	vertical-align: text-top;
}
footer .newsletter-input button{
    width: 70px;
    font-size: 13px;
    position: absolute;
    top: 0;
    right: 0px;
    height: 100%;
	border-radius: 0 4px 4px 0;
}
footer .social-icons a{
	color: #fff;
	display: inline-block;
	margin: 10px 5px;
	font-size: 30px;
}
footer .social-icons a:hover{
	opacity: .7;
}
footer .partners ul li img{
    max-height: 30px;
    margin: 30px 5px;
    display: inline-block;
}
footer .foot-note{
    margin: 15px 0 0;
}
footer .foot-note a{
	color: #fff;
    border-bottom: 1px solid transparent;
}
footer .foot-note a:hover{
    border-color: inherit;
}
footer .footer-lists li a{
	color: #fff;
	display: inline-block;
	margin: 3px;
}
footer .JSscroll-top {
	position: fixed;
    font-size: 20px;
    line-height: 18px;
    text-align: center;
    color: #000;
    right: -70px;
    bottom: 20px;
    border: 1px solid #ddd;
    background: #f2f2f2;
    z-index: 20;  
    padding: 10px 15px;
    border-radius: 4px;
    box-shadow: 1px 1px 5px #ddd;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.4);
}
footer .JSscroll-top:hover {
	background: #f8694a;
	color: #fff;
}
/*============ INFO & CONFIRM POPUP ============*/
.popup {
    position: fixed;
    display: block;
    width: 100%;
    height: 0;
    left: 0;
    top: -2000px;
    overflow: hidden;
    background: red;
    z-index: 9999999999999;
}
.popup-opened { top: 0; height: 100%; }
.popup-wrapper { left: 50%; top: 45%; position: relative; }
.popup-inner { left: -50%; top: -50%; position: relative; background: #fff; }
.popup-close {
    position: absolute;
    right: 8px;
    top: 2px;
    width: 16px;
    height: 16px;
    line-height: 16px;
    font-size: 25px;
    color: #5A5A5A;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    background: none;
}
.info-confirm-popup { display: none; }
.info-popup, .confirm-popup { top: 0; height: 100%; background: rgba(44, 44, 44, 0.8); }
.info-popup .popup-wrapper, .info-popup .popup-inner { width: 315px; }
.confirm-popup .popup-wrapper, .confirm-popup .popup-inner { width: 300px; }
.info-popup .popup-inner, .confirm-popup .popup-inner { background: rgba(153, 153, 153, 0); }
.confirm-popup .popup-inner { text-align: center; }
.info-popup .p-info, .confirm-popup p {
    margin: 0;
    color: #474747;
    text-align: center;
    background: white;
    padding: 30px;
    border-radius: 8px;
}
/*========================*/ 
.first-popup {
    position: fixed;
    top: -1000px; 
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 70;
    background-color: rgba(0,0,0,.7);
    width: 100%;
    height: 100%;
    display: flex;
    display: -webkit-flex;
    /*display: none;*/
}
.first-popup .first-popup-inner { margin: auto;  border: 1px solid #ddd;}
.first-popup .JSclose-me-please{
    color: #f2f2f2;
    position: absolute;
    top: -25px;
    right: -25px;
    z-index: 5;
    font-size: 30px;
    line-height: 1;
    padding: 0 5px;
    cursor: pointer;
    text-shadow: 0 0 3px #000; 
}
.first-popup .JSclose-me-please:hover {
    opacity: .8;
    text-shadow: 0 0 10px #000;
}
.first-popup-inner img {
    max-width: 100%;
    max-height: 380px;
    padding: 2px;
} 
/*======================*/
/* ========== BREADCRUMBS ============ */
.breadcrumb li {
    font-size: 12px;
    font-weight: 600;
}
.breadcrumb{
    margin: 0;
}
/*===================================*/
.brend-item {
    background: #fff;
    overflow: hidden;
    padding: 5px 15px;
    font-weight: bold;
    color: #222;
    height: 80px;
    margin: 15px 0;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 3px #f2f2f2;
}
.brend-item img {
    max-height: 70px;
    padding: 5px 0;
    width: auto;
}
.manufacturer-categories h3 {
    font-size: 1em;
    margin: 5px 0;
    padding: 5px;
    font-weight: 100;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
}
.manufacturer-categories ul li a {
    border: 1px solid #ddd;
    margin: 2px 0;
    display: block;
    padding: 2px 5px;
    background-color: #f5f5f5;
}
/*============ NEWS ================*/
.news {
    margin: 0 10px 15px;
    background: #fff;
    box-shadow: 1px 1px 7px #ddd;
}
.news img{
    max-height: 300px;
    margin: auto;
    padding: 20px;
}
.news .news-read{
    background-color: #f8694a;
    color: #fff;
    margin: 10px 0;
    padding: 5px 15px;
    display: inline-block;
}
.news-title {
    margin: 16px 0;
    border-width: 2px;
}
.single-news-container img{
    max-height: 410px;
    margin: auto;
    padding: 30px 0;
}
.empty-page{
    padding: 10px;
    display: block;
    font-weight: 600;
    background: #f2f2f2;
}
/*======== PRODUCT LIST ===========*/
 
.sub_category_item {
    height: 70px;
    padding: 0;
    transition: 0.2s ease-in;
    overflow: hidden;
    position: relative;
    margin: 3px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}
.sub_category_item img {
    max-height: 55px;
    max-width: 50px;
    padding: 5px 0;
    margin: 0 8px;
}
.sub_category_item p {
    margin: 0;
    padding: 0 8px 0 0;
    line-height: 1;
    font-size: .9em;
    word-wrap: break-word;
}
.sub_category_item:after {
    content: " ";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 5px;
    bottom: 0px;
    border: 1px solid #b3b3b3;
    border-radius: 3px;
}
.currency-btn {
    background-color: #fff;
    color: #000;
    border: 1px solid #ccc;
    padding: 2px 7px;
    margin: 7px 0 7px 5px;
}
.currency-list{
	margin: 0;
	padding: 0;
}
.currency-list li {
    border-bottom: 1px solid #ddd;
}
.view-buttons {
    display: inline-block;
    margin: 0 10px;
}
.view-buttons span {
    display: inline-block;
    width: 25px;
    text-align: center;
    color: #F8694A;
    margin: 5px 0;
    font-size: 16px;
    border-bottom: 3px solid transparent;
}
.view-buttons span.active {
    color: #000;
    border-bottom: 3px solid #000;
}
.pagination{ margin: 5px 0; vertical-align: middle; }

.pagination li a, .pagination>.active>a {
    padding: 5px 10px;
    font-size: 12px;
    background-color: #fff;
    color: #337ab7;
}
.JSImgLoop a, .article-modal-container-inner .modal-galery-container a {
    width: 23.5%;
    height: 75px;
    border: 1px solid #ddd;
    border-radius: 4px;
    vertical-align: middle;
    margin-top: 4px;
    padding: 5px;
    background: #fff;
    display: inline-flex;
    display: -webkit-inline-flex;
}
.JSImgLoop a img, .article-modal-container-inner .modal-galery-container a img {
	max-height: 65px;
    margin: auto;
    max-width: 100%;
}
/* ======== PRODUCT PREVIEW INFO ============ */ 

#JSarticle-img {
    cursor: pointer;
    transition: 0.3s;
    margin: auto;
    max-height: 350px;
}
.article-modal-container {
    display: none; 
    position: fixed;  
    left: 0;
    top: 0;
    width: 100%;  
    height: 100%;  
    overflow: auto;  
    background-color: #000;    
    z-index: 888;
}
.article-modal-img {
    margin: auto;
    max-height: 400px;
	-webkit-animation-name: zoom;
	-webkit-animation-duration: 0.6s;
	animation-name: zoom;
	animation-duration: 0.6s;
}
@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}
@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}
.JSarticle-modal-close {
    position: absolute;
	top: -50px;
    right: 0;
    color: #fff;
    font-size: 6rem;
    transition: 0.2s;
    line-height: 1;
    cursor: pointer;
}
.JSarticle-modal-close:hover{
    color: #bbb;    
}
.article-modal-container-inner{
    position: relative;
    padding: 10px;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    width: 50%;
    display: inline-block;
}
.article-modal-container-inner .modal-img-container{
    border-radius: 5px;
    height: 415px;
    background-color: rgba(0,0,0,.4);
    display: flex;
    display: -webkit-flex;
}
.article-modal-container-inner .modal-galery-container a {
    border: 1px solid rgba(255,255,255,.4);
    background-color: rgba(0,0,0,.4);
}
.product-view{
    height: 360px;
    overflow: hidden;
    display: flex;
    display: -webkit-flex;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}
.product-view:hover, .product-preview-image .elevatezoom-gallery:hover{
	border-color: #999;
}
/*=============================*/
.product-preview-info ul li a {
    font-weight: bold;
}
.add-to-cart-area button{
    box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.5), 0 0 1px 1px rgba(255,255,255,0.8), 0 0 0 6px rgba(0,0,0,0.06), 0 0 0 3px rgba(0,0,0,0.1);
    display: inline-block;
    padding: 10px 15px;
    font-weight: 700;
    margin: 15px;
    color: #fff;
    background: #f8694a;
}
.add-to-cart-area .add-amount{
	width: 31px;
    height: 31px;
    text-align: center;
}
a.add-amount-less, a.add-amount-more, a.cart-less, a.cart-more {
    color: #fff;
    text-align: center;
    background: #ddd;
    padding: 2px 5px;
    vertical-align: middle;
}
.product-preview-info .article-heading {
    margin: 10px 0;
    font-size: 20px;
    color: #747474;
    padding: 5px;
    background: linear-gradient(to left, #fff, #f2f2f2);
    border-bottom: 1px solid #ddd;
}
#product-preview .tags li{
    color: #fff;
    font-size: 14px;
    margin: 10px 5px;
    border-radius: 5px;
    padding: 0px 5px;
    display: inline-block;
    background-color: #44aacb;
}
.product-preview-price span{
    display: inline-block;
    font-size: 25px;
    color: #D13E3B;
    margin: 10px 0;
}
.product-preview-price-old {
	display: block;
	font-size: 1.4em;
	line-height: 2em;
	text-decoration: line-through;
	padding: 15px;
}
/*- PRODUCT PREVIEW TABS */
.product-preview-tabs {
	margin-top: 20px;
} 
.tab-titles li {
	display: inline-block;
    padding: 5px 50px;
    text-align: center;
    background-color: #bbb;
    cursor: pointer;
    font-weight: 600;
    border-bottom: 1px solid #f4a137;
    color: #fff;
}
.tab-content {
    border: 1px solid #ddd;
    border-top: 0;
    padding: 10px;
    min-height: 100px;
}

.product-preview-tabs .generated-features-list li, .product-preview-tabs .features-list li {
    display: inline-block;
    padding: 2px 10px;
    line-height: 1.3;
    width: 48%;
    vertical-align: middle;
    font-weight: normal;
}
.product-preview-tabs .features-list li{
    border-bottom: 1px solid #ddd;
    vertical-align: unset;
}
.product-preview-tabs .generated-features-list li ul li {
    border-bottom: 1px solid #ddd;
}
.product-preview-tabs .generated-features-list:nth-child(even), .product-preview-tabs .features-list {
    background: #f5f5f5;
}
.product-preview-tabs .generated-features-list li ul li:nth-last-child(-n+2) {
    border-bottom: none;
}
input.cart-amount {
	width: 30px;
	height: 20px;
	line-height: 20px;
	font-size: 12px;
	padding: 0;
    text-align: center;
}
/*============ CART ============*/
.cart-summary div{
    padding: 10px;
    border-left: solid 3px #bbb;
    border-bottom: 1px solid #bbb;
    background: #f0f0f0;
    margin: 5px 0;
}
.cart-remove-all {
	margin: 10px 0;
}
.cart-labels {
	margin-top: 20px;
}
.cart-labels table thead tr th, .cart-labels table tbody tr td{
	text-align: center;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
}
.cart-labels table tbody tr td:nth-child(2) {
	max-width: 180px;
}
.cart-image img {
	max-height: 95px;
	margin: auto;
    min-width: 90px;
} 
/*--- MAX WIDTH 1024px ---*/
@media screen and (max-width:1024px) {
	 header .header-cart-content {
		display: none;
	}
}
/*============= USER CARD ================*/
.user-card-row{
	display: flex;
	align-items: flex-end;
	display: -webkit-flex;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	-webkit-align-items: flex-end;
    margin: 0 0 20px;
}
.user-card-row form{
	display: inline-block;
}
.user-card-row a{
    display: inline-block;
    color: #fff;
    padding: 5px 8px;
    background-color: #f8694a;
    margin: 5px;
}
.user-card-table table thead th{
	text-align: center;
}
.user-card-total-price li{
    padding: 10px;
    border-left: solid 3px #bbb;
    border-bottom: 1px solid #bbb;
    background: #f0f0f0;
    margin: 5px 0;
    text-align: right;
}
@media screen and (min-width: 641px){
    .product-preview-tabs .generated-features-list, .product-preview-tabs .features-list {
        font-size: 1em;
        padding: 0 10px;
        display: table;
        width: 100%;
        border-bottom: 1px solid #ccc;
    }
}
/*=============================================*/
@media screen and (min-width: 991px){
	#JScategories .JSlevel-1 li:hover .JSlevel-2 {
	    display: block;
	    border-left: 2px solid #F8694A;
	    -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.175);
	    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.175);
	    min-height: 101%;
	}
   #JScategories .JSlevel-1 > li:hover {
	    box-shadow: inset 3px 0px 0px 0px #F8694A, 1px 1px 2px #ddd, -1px -1px 2px #ddd;
	    z-index: 710;
	}
}
/*=============================================*/
@media only screen and (max-width: 991px){ 
	#responsive-nav {
	    position: fixed;
	    left: 0;
	    top: 0;
	    bottom: 0;
	    max-width: 270px;
	    width: 0%;
	    overflow: hidden;
	    background-color: #f2f2f2;
	    -webkit-transform: translateX(-100%);
	    -ms-transform: translateX(-100%);
	    transform: translateX(-100%);
	    -webkit-transition: 0.5s all;
	    transition: 0.5s all;
	    z-index: 990;
	    overflow-y: scroll;
	}
	header .resp-nav-btn {
	    display: inline-block;
	    border: 1px solid #F8694A;
	    color: #F8694A;
	    padding: 6px 10px;
	    cursor: pointer;
	    font-size: 15px;
	    line-height: 1;
	    margin: 5px 15px 5px 0;
	    border-radius: 4px;
     }
	 .openMe {
	    width: 100% !important;
	    -webkit-transform: translateX(0%) !important;
	    -ms-transform: translateX(0%) !important;
	    transform: translateX(0%) !important;
	}
	#JScategories .JSlevel-1{ position: relative; display: block; }

    header .JSclose-nav {   
		display: inline-block;
		position: absolute;
		right: 35px;
		top: 13px;
		font-size: 18px; 
	}
	#JScategories .JSlevel-1 li a {
	    margin: 0 0 5px;
	}
	#JScategories .JSlevel-2 {
	    position: relative;
	    left: 0;
	    width: 100%;
	    padding: 0 0 0 15px;
	}
	#JScategories .JSlevel-2 li {
	    width: 100%;
	}
	.JSsubcategory-toggler, #JScategories .JSlevel-4 li {
	    display: inline-block;
	}
	.level-1-list{ position: relative; }
 
	.container { width: auto; padding: 0;}

	#JScategories .JSCategoryLinkExpend {
		display: none;
	}
}
/*=============================================*/
@media only screen and (max-width: 768px){ 
	.main-content{  min-height: 300px; }
	.product-view{ height: 235px; }
    #JSarticle-img { max-height: 220px; }
    .article-modal-container-inner .modal-img-container {  height: 315px; }
    .product-preview-tabs .generated-features-list li, .product-preview-tabs .features-list li {
        width: 100%;
    }
    .product-preview-tabs .generated-features-list .features-list-title {
        border-top: 1px solid #bbb;
        border-bottom: 1px solid #bbb;
        color: #000;
        font-weight: 600;
    }
   .product-preview-tabs .generated-features-list, .product-preview-tabs .features-list {
        margin: 30px 0;
    }
    .sm-text-center { text-align: center; }
    header #preheader .navbar-collapse{ padding: 0 10px; }
    header #preheader .navbar-collapse ul li{ display: block; }
}
/*=============================================*/
@media screen and (max-width:640px) {
	.features-content li {
		width: 100%;
	}
}
/*=============================================*/
@media only screen and (max-width: 480px){ 
 	footer .partners ul li img{
		max-height: 20px;
		margin: 15px 0;
 	}
    .article-modal-img{ max-height: 315px; }
 	.article-modal-container-inner { width: 100%; }
    .product-preview-info .article-heading{ font-size: 16px; }  
    .custom-pages { padding: 20px 10px; }
}
 