
/*---------- GENERAL STYLES ----------*/
body {
    font-family: Arial, sans-serif;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
	padding: 0;
	color: var(--body_color);
	-webkit-font-smoothing: antialiased;
}  
.row{ margin: 0; }
.navbar-header{
	margin: 0;
	min-height: 0;
	border: 0;
	float: none;
} 
.for-seo{
    margin: 0;
    font-size: inherit;
    color: #fff;
    font-family: inherit;
    font-weight: inherit;
    line-height: inherit;
}
img{
    color: #bbb;
    font-size: 12px;
    line-height: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.JSleft-body-link, .JSright-body-link{
    /*border: 3px dashed red; */
    position: absolute;
    left: 0; 
}
.JSright-body-link { 
    /*border: 3px dashed #1aff1a; */
    left: unset;
    right: 0;
}
/*===================*/
.capcha{
    border: 1px solid #ddd;
    background: #f2f2f2;
    padding: 15px 0;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #ccc;
}
.capcha input[type="text"]{
    width: auto;
    display: inline-block;
    margin: 0 5px;
}
.capcha img{ margin: 0 5px 10px; }
/*====================*/
.inline-block { display: inline-block; }
.relative { position: relative; }
.no-padding{ padding: 0; }
.currency-btn{
	background-color: var(--currency_bg);
	color: var(--currency_color);
    border: 1px solid #ccc;
    padding: 2px 10px;
    margin: 7px 0 7px 5px;
}
.currency-list li{ border-bottom: 1px solid #ddd; }
.currency-list, .login-dropdown{ margin: 0; padding: 0; min-width: 100%; }
.login-dropdown li a{  padding: 5px 20px; }
.pagination { margin: 2px 0; }
[class*="col-"]{ min-height: 0; }
.pagination li a{ padding: 5px 10px; font-size: 12px; background-color: var(--pagination_bg); }
.pagination>.active>a, .pagination>.active>a:hover{
    background: var(--pagination_bg_active);
    color: var(--pagination_color_active);
}
.btn.focus, .btn:focus, .btn:hover{ outline: none; }

.facebook-btn-share{ line-height: 1; display: flex; display: -webkit-flex; }
.soc-network{ margin: 0 2px; }

input[type="checkbox"], input[type="radio"]{ margin: 0; }

.nav>li>a:focus, .nav>li>a:hover{ background-color: transparent; }

a:link, a:visited, a:active { text-decoration: none; outline: none; color: var(--a_href_color); }
a:hover{ color: #F8694A; transition: all 0.1s ease 0s; -webkit-transition: all 0.1s ease 0s; }
ul { list-style-type: none; margin: 0; padding: 0; }
h1, h2, h3, h4, h5, h6 { font-weight: 600; font-family: 'Open Sans', Arial, sans-serif; margin: 0; }
h1 { font-size: 1.8em; }
h4 { font-size: 1.2em; }
h5 { font-size: 1.1em; color: var(--h5_color); }
h6 { font-size: 1em; }

.h2-container{ text-transform: uppercase; color: var(--h2_color); }
.heading-background{
    position: relative;
    display: block;
    margin: 0 0 10px;
    font-size: .7em;
    padding: 5px 0;
    border-bottom: 1px solid #DADADA;
}
.h2-container .heading-background:after{
	content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 60px;
    background-color: var(--global_color);
}
.article-heading {
    margin: 10px 0;
    font-size: 20px;
    font-weight: bold;
    color: #747474;
    padding: 5px;
    background: linear-gradient(to left, #fff, #f2f2f2);
    border-bottom: 1px solid #ddd;
}
.breadcrumb li{ font-size: 12px; font-weight: 600; }
.breadcrumb{ margin: 0; background-color: var(--breadcrumb_bg); }
/*--- FOUNDATION OVERRIDES ---*/
button, #loginModal .create-acc{
    padding: 5px 10px;
    background-color: var(--btn_bg);
    border: none;
	transition: background-color 100ms ease-out;
	-webkit-transition: background-color 100ms ease-out;
	color: var(--btn_color);
}
button:hover:not(.forgot-psw):not(.login-btn):not(.show-compered-active):not(.currency-btn):not(.show-compered):not(.wish-list):not(.close):not(.btn-slider):not(.buy-btn):not(.slick-prev):not(.slick-next),
.no-registration-btn:hover ,#loginModal .create-acc:hover, .JSheader-cart-content > div a:hover{
	background-color: var(--btn_hover_bg);
}
button:focus{ outline: none; }
button.submit { margin: 5px 0; }
 
input[type="text"], input[type="password"] {
	width: 100%;
	margin: 0 0 5px 0;
	color: #999;
	padding: 5px 10px;
	height: 34px;
    border: 1px solid #ddd;
    background-color: var(--input_bg_color);
}
textarea { resize: none; background-color: var(--input_bg_color); }
select {
    background-color: var(--input_bg_color);
    height: 34px;
    padding: 0 7px;
    color: #747474;
    width: 100%;
    border: 1px solid #ddd;
    position: relative;
    -moz-appearance: none;
    -webkit-appearance: none;
}
label{ color: var(--label_color); font-size: 12px;  }
 
/*--- POPUP ADD TO CART ---*/
.popup {
    position: fixed;
    display: none; 
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
    background: rgba(44, 44, 44, 0.7);
    z-index: 99999;
}
.popup-wrapper {    
    position: relative;
    max-width: 315px;
    width: 100%;
    display: inline-block;
    top: 40%;
    left: 50%; 
    transform: translate(-50%, 0);
} 
.JSinfo-popup .p-info {
    margin: 0;
    color: #474747;
    text-align: center;
    background: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 5px 5px 20px 5px #333;
    font-size: 16px;
}
/*========================*/ 
.first-popup {
    position: fixed;
    top: -1000px; 
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 70;
    background-color: rgba(0,0,0,.7);
    width: 100%;
    height: 100%;
    display: flex;
    display: -webkit-flex;
    /*display: none;*/
}
.first-popup .first-popup-inner { margin: auto;  border: 1px solid #ddd;}
.first-popup .JSclose-me-please{
    color: #f2f2f2;
    position: absolute;
    top: -25px;
    right: -25px;
    z-index: 5;
    font-size: 30px;
    line-height: 1;
    padding: 0 5px;
    cursor: pointer;
    text-shadow: 0 0 3px #000; 
}
.first-popup .JSclose-me-please:hover {
    opacity: .8;
    text-shadow: 0 0 10px #000;
}
.first-popup-inner img {
    max-width: 100%;
    max-height: 380px;
    padding: 2px;
} 
/*======================*/
.slick-slider img { margin: 0 auto;  }
.slick-slider { margin-bottom: 10px !important; }
/*======================*/
.JSActionSlick .slick-prev, .JSActionSlick .slick-next{ 
    top: -25px;
    right: 0; 
}
.JSActionSlick .slick-prev{
    left: unset; 
    right: 35px;
}
.JSActionSlick .slick-next:before, .JSActionSlick .slick-prev:before{
    font-family: FontAwesome;
    color: #F8694A;
    font-size: 15px;
}
.JSActionSlick .slick-prev:before{ content: "\f053"; }
.JSActionSlick .slick-next:before{ content: "\f054"; }
/*======================*/
/* filters */
.filter-links{
	display: flex;
	align-items: center;
	justify-content: space-between;
	display: -webkit-flex;
	-webkit-align-items: center;
	-webkit-justify-content: space-between;
	padding: 5px 10px;
	border-bottom: 1px solid #ddd;
    margin: 5px 0;
    background-color: var(--filters_bg);
}
.filter-price{ display: block; margin: 0 0 10px; }

.selected-filters-title{ margin: 10px 0 0; }
.selected-filters li {
	display: inline-block;
	height: 24px;
	font-size: 12px;
	font-weight: 500;
	color: rgba(0, 0, 0, 0.6);
	line-height: 24px;
	padding: 0 10px;
	border-radius: 3px;
	background-color: #f2f2f2;
	margin: 5px 0;
}
.filter-box label{
	display: flex;
	display: -webkit-flex;
    background: linear-gradient(to left, #fff, #ddd);
    padding: 3px 8px;
	align-items: center;
	-webkit-align-items: center;
    font-size: .9em;
    line-height: 1;
}
.filter-box label:hover{ box-shadow: 1px 1px 2px #ccc; }

.filter-text{ margin: 0 5px; display: block; width: 100%; /*for flexbox*/ }

/* SLAJDER ZA CENU END */
a.JSreset-filters-button {
	font-size: 13px;
	color: var(--btn_color);
	padding: 4px 15px;
	border-radius: 3px;
	background: var(--btn_bg);
    margin: 10px 0;
}
/*--- PREHEADER ---*/
#preheader { background-color: var(--top_menu_bg); }
.preheader-icons a { color: var(--top_menu_color); }
.preheader-icons{ min-height: auto; border: none; }
.preheader-icons button{
    margin: 5px;
    padding: 5px;
    border-radius: 0;
    border: 1px solid #fff;
}
.preheader-icons button span{ color: #fff; }
.icon-bar{ background-color: #fff; }
.top-menu-links li a{
	padding: 8px;
	line-height: 1;
	display: block;
	font-size: 13px;
} 
.required-fields{ font-size: 17px; }
.required-fields span{ color: red; }
.red-dot-error{ color: red; font-size: 12px; }

/*- MAIN MENU -*/
.menu-background { background-color: var(--menu_bg); }
.current-log-user{ padding: 10px 10px 0; }
#main-menu li a { color: #fff; padding: 12px 5px; display: inline-block; }

/*===============================*/
.header-dropdown-content{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    min-width: 160px; 
    z-index: 3;
}
#main-menu .header-dropdown-content li a{
    display: block;
    background-color: var(--menu_bg);
    padding: 15px; 
    white-space: nowrap;
} 
.header-dropdown:hover .header-dropdown-content{
    display: block;
}
 /*===============================*/
/*- LOGIN & REGISTRATION ICONS -*/
#logout-button {
    padding: 0px 7px;
    display: inline-block;
    font-size: .9em;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
 #logged-user {
	font-size: .9em;
	display: inline-block;
    opacity: .8;
    border-bottom: 1px solid #ccc;
}
/*--- HEADER ---*/
header { background: var(--header_bg); }
.header-search select{
	border-right: 0;     
	padding: 0 20px 0 5px;
	text-overflow: ellipsis;
	white-space: nowrap;
}
 
span.select-wrapper{ position: relative; display: block; }
.header-search span.select-wrapper::after, span.select-wrapper::after {
    content: " ";
    border-top: 0.4em solid #808080;
    border-right: 0.3em solid transparent;
    border-left: 0.3em solid transparent;
    position: absolute;
    top: 42%;
    right: 8px;
}
.resp-nav-btn, .JSclose-nav, .menu-close, .JSfilters-slide-toggle-content, .JShidden-msg, .slick-dots li { display: none; }

.header-search input[type="text"]{ margin: 0; border-right: 0; }

.div-in-header{
    display: -webkit-flex;
	-webkit-flex-wrap: wrap;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	-webkit-align-items: center;
}
.header-cart-container:hover .JSheader-cart-content{ visibility: visible; opacity: 1; }
.JSheader-cart-content {
	background: #fff;
	position: absolute;
	width: 450px;
	right: 0;
	padding: 0 10px;
	box-shadow: 0 0 5px 0 #999;
	border-radius: 2px;
	visibility: hidden;
	opacity: 0;
	z-index: 9999999;
	transition: .1s ease-in-out;
	-webkit-transition: .1s ease-in-out;
}
.login-btn{
    background: var(--login_btn_bg);
    padding: 2px;
    border-bottom: 1px solid;
    color: var(--login_btn_color);
}
/*======= STICKY HEADER ANIMATION ========*/
.JSsticky_header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 60;
    animation: smooth_slide .3s;
    background: var(--header_bg);
    box-shadow: 0 1px 4px #a6a6a6;
}
@keyframes smooth_slide {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    } 
    100% {
        opacity: 1;
        transform: translateY(0);
    } 
}
.JSsticky_header .logo{ padding: 0; }
.JSsticky_header .logo img{ max-height: 45px; }
.JSsticky_header .header-cart{ margin: 12px 0; }
.JSsticky_header #top-head-nav {display: block;}
.display-b { display: block !important; }
#top-head-nav h3:hover {
    cursor: pointer;
    color: var(--categories_title_bg) !important;
}
/*===== LOGO ==========*/
.logo { 
	padding: 20px 0;
	vertical-align: middle;
}
.logo img { max-height: 60px; width: auto; }

/*- SEARCH -*/
.JSsearch-button2 { padding: 6px 20px; height: 34px; }
.JSsearch-button2 i { font-size: 20px;  }
/* Search sugestions */
ul.JSsearch_list {
	position: absolute;
	left: 0px;
	top: 100%;
	z-index: 999;
	width: 100%;
	background: #fff;
	box-shadow: 1px 1px 10px #b3b3b3;
	max-height: 400px;
	overflow: auto;
	font-size: .8em;
}
li.search_list__item:last-child a { border-bottom: none; }
.search_list__item__link {
	border-bottom: 1px solid  #ddd;
    line-height: 1.4;
    margin: 0 0 5px;
    padding: 5px 10px;
    display: block;
    background: #f2f2f2;
}
.search_list__item__link__text, .search_list__item__link__cat { display: block; }
.search_list__item__link__cat { color: #808080; text-align: right; }

/*- HEADER CART -*/
.header-cart {
	display: inline-flex;
	display: -webkit-inline-flex;
	width: 50px;
	height: 35px;
	border: 1px solid #ddd;
	margin: 20px 0;
	font-size: 20px;
}
.cart-me { margin: auto; }
.JSbroj_cart {
    top: -10px;
    position: absolute;
    right: -10px;
    background: var(--cart_number_bg);
}
.JSbroj_wish{ color: #ff0000; font-size: 15px; }
.JSbroj_wish span{ display: inline-block; font-weight: 600; }
.JSheader-cart-content li {
	padding: 10px 0;
    font-size: 13px;
	border-bottom: solid 1px #ddd;
	display: flex;
	align-items: center;
	justify-content: space-between;
	display: -webkit-flex;
	-webkit-align-items: center;
	-webkit-justify-content: space-between;
}
.JSheader-cart-content li:last-child { border-bottom: none; }
.header-cart-image-wrapper {
	display: inline-block;
	width: 52px;
	height: 52px;
	line-height: 48px;
	text-align: center;
	background: #fff;
	overflow: hidden;
}
.header-cart-image-wrapper img { max-width: 95%; max-height: 50px; }
.JSheader-cart-content li a:first-of-type{
	width: 47%;
	padding: 0 5px;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.header-cart-amount {
	width: 25px;
	height: 20px;
	line-height: 18px;
	text-align: center;
	border: solid 1px #ddd;
}
.header-cart-price { color: #999; min-width: 85px; }
.header-cart-summary {
	display: block;
	text-align: right;
	padding: 5px 7px;
	margin: 8px 0;
	background: #f0f0f0;
	color: #000;
}
.JSheader-cart-content .close:hover { opacity: .7; }
 
/* category acccent button */
.sub_category_div { padding: 0 10px; }
.sub_category_item{
	height: 70px;
    padding: 0;
    transition: 0.2s ease-in;
    overflow: hidden;
    position: relative;
    margin: 3px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}
.sub_category_item:after {
    content: " ";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 5px;
    bottom: 0px;
    border: 1px solid #b3b3b3;
    border-radius: 3px;
}
.sub_category_item:hover:after{
	border-color: #ff3333;
	transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
}
.sub_category_item img{
    max-height: 55px;
    max-width: 50px;
    width: auto;
    height: auto;
    padding: 5px 0;
    margin: 0 8px;
}
.sub_category_item p{
    margin: 0;
    padding: 0 8px 0 0;
    line-height: 1;
    font-size: .9em;
    word-wrap: break-word;  
}
.group-parent-div a:hover{ color: #595959; }
/*============= Manufacturer =================*/
.manufacturer-categories h3{
    font-size: 1em;
    margin: 5px 0;
    padding: 5px;
    font-weight: 100;
    border-bottom: 1px solid #ccc;
}
.manufacturer-categories ul li a{
    border: 1px solid #ddd;
    margin: 2px 0;
    display: block;
    padding: 2px 5px;
    background-color: #f5f5f5;
}
/*==========================================*/
/*- CATEGORIES -*/
.category-nav{ width: 270px; float: left; }
.category-nav:hover {
    cursor: pointer;
}
.menu-background .JScategories-titile:hover {
    background: #313e68 !important;
}
.level-1-img-container{
    display: inline-block;
    width: 25px;
    height: 25px;
    text-align: center;
    margin: 0 5px 0 0;
}
.level-1-img{
    max-width: 25px;
    max-height: 23px;
    width: auto;
    height: auto;
    display: inline-block;
    padding: 1px;
}
.level-2-img{
    width: auto;
    height: auto;
    max-height: 45px;
    max-width: 55px;
    display: inline-block;
}
.level-2-container-for-image{ width: 60px; height: 50px; padding: 6px 0 !important; }
#JScategories .JSlevel-2 li { position: relative; }
#JScategories .JSlevel-2 {
	position: absolute;
    padding: 0 0 3px 0;
    width: 633px;
    display: none;
    top: 0px;
    left: 100%;
    background: var(--categories_level_2_bg);
    overflow: hidden;
    z-index: 700;
}
#JScategories .JSlevel-1 li a {
	position: relative;
	padding: 3px 15px;
    overflow: hidden;
	color: var(--level_1_color);
	background: #fff;
	font-size: 13px;
	border-bottom: solid 1px #ddd;
	min-height: 31px;
	display: block; /* for IE */
	display: flex;
	align-items: center; 
	display: -webkit-flex;
	-webkit-align-items: center; 
} 
#JScategories h3 {
    padding: 14px;
    text-align: center;
    background: var(--categories_title_bg);
    color: #FFF;
    font-size: 16px;
}
#JScategories .JSlevel-1 {
    position: absolute;
    background-color: var(--categories_level_1_bg);
    font-weight: 600;
    width: 270px;
    border-right: 1px solid #DADADA;
    border-left: 1px solid #DADADA;
    z-index: 50;
    line-height: initial;
    display: none;
}
#start-page #responsive-nav .JSlevel-1 { display: block; }


#top-head-nav {display: none;}
#top-head-nav .category-nav {width: 45px; background: white;}
#top-head-nav #JScategories h3 {background: white; color: #313e68; font-size: 25px;}

.resp-nav-class{ line-height: 0; }
#JScategories .level-3 li a{ font-weight: normal; }
.JSsubcategory-toggler {
	display: none;
	position: absolute;
	right: 15px;
	top: 0;
	text-align: center;
}
.JSsubcategory-toggler span {
    display: inline-block;
    position: relative;
    width: 29px;
    height: 26px;
    line-height: 28px;
    top: 0;
    right: 0;
    cursor: pointer;
    font-size: 12px; 
    background: #fff;
}
#JScategories .JSlevel-2 li a {
   min-height: initial;
   padding: 7px 0 5px 10px;
   width: 100%;
   color: var(--level_2_color);
}
#JScategories .JSlevel-2 li a:hover { background: none;  }
#JScategories .JSlevel-3 li a{ padding: 5px 0 3px 15px; border: none; }
#JScategories .JSlevel-4 li { display: none; }
#JScategories .JSlevel-4 li a{ padding: 5px 0 4px 20px; }

.JSCategoryLinkExpend{
    padding: 3px 5px;
    cursor: pointer;  
    color: #666;
    position: absolute;
    top: 0;
    right: 0;
}
#JScategories .level-3 { margin: 0; line-height: 1.4;   }

/*----------- CATEGORI HORIZONTAL  -----------*/
#JScat_hor .JScategories-titile, #JScat_hor .JStoggler { display: none; }
#JScat_hor .JSlevel-1{
	position: relative;
    background-color: #f2f2f2;
    display: block;
    width: auto;
    border: none;
}
#JScat_hor .JSlevel-1 > li:hover{ box-shadow: initial !important; }
#JScat_hor .JSlevel-1 li { display: inline-block; padding: 0; position: static; }
#JScat_hor .JSlevel-1 li a {
	border-bottom: none;
	padding: 7px;
    max-height: initial;
    display: block;
}
#JScat_hor .JSlevel-2 {
    left: 0px;
    top: 100%;
    width: 100%;
    padding: 10px;
    background-color: #f2f2f2;
    min-height: auto !important;
    border-left: none !important;
    box-shadow: none !important;
    border-top: 1px solid #ddd;
}
#JScat_hor .JSlevel-2 li { display: flex; align-items: center; flex-wrap: wrap; }
#JScat_hor .level-3 { display: block; }

/*- MAIN CONTENT -*/
#main-content { overflow: hidden; min-height: 700px; padding-bottom: 15px; }
#product-page #main-content{ padding: 0 0 30px; }

/*- MAIN SLIDER -*/
#JSmain-slider {
	max-height: 500px;
    max-width: 100%;
	overflow: hidden;
	padding: 0;
    margin-top: 20px;
} 
#JSmain-slider .sliderText {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%); 
    width: 100%;
    max-width: 550px;
    z-index: 1; 
    background: rgba(0,0,0,.2); 
    font-size: 20px;
}
#JSmain-slider .sliderText div > *{
    margin: 5px 0;
    text-shadow: 0 0 1px #000;
    color: #fff;
    padding: 0 50px;
    display: inline-block;
}
#JSmain-slider img{ width: 100%; max-height: 480px; border-radius: 20px; }
#JSmain-slider .slick-next { right: 0; }
#JSmain-slider .slick-prev { left: 0; }
#JSmain-slider .slick-next, #JSmain-slider .slick-prev{
	height: 50px;
	width: 30px;
    z-index: 1;
}
#JSmain-slider .slick-prev:before, #JSmain-slider .slick-next:before{
    position: absolute;
    top: 0;
    font-family: FontAwesome;
    line-height: 50px;
    height: 100%;
    width: 100%;
    opacity: 1;
    font-size: 20px;
    background: #666;
}
#JSmain-slider .slick-next:before { content: "\f054"; right: 0; border-radius: 5px 0 0 5px; }
#JSmain-slider .slick-prev:before { content: "\f053"; left: 0; border-radius: 0 5px 5px 0; }
#JSmain-slider .slick-prev:hover:before, #JSmain-slider .slick-next:hover:before{ background: #999999; }

/*BANNERS */
.main-banners {
    justify-content: space-evenly;
    display: flex;
    margin-top: 140px;

}
.banners-right a {
    display: block;
    margin: 15px 0;
    padding: 0 3px;
    max-height: 200px;
}
/*.banners-right{ margin-left: 270px; }*/
.banners-right img { max-height: 185px; margin: 0 auto; width: auto; }
.banners-right img:hover{ opacity: .7; }

/*- PRODUCT */
.shop-product-card {
    overflow: hidden;
    border-top: 1px solid #f8f8f8;
    background: var(--product_bg);
    font-family: "Open Sans", "Montserrat", "Helvetica Neue", Helvetica, sans-serif;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
    margin: 15px 3%;
}
.shop-product-card .sale-label{
    border-radius: 0;
    background: var(--sale_action_price_bg);
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    padding: 0;
    font-size: 14px;
}
.shop-product-card .sale-label .for-sale, .shop-product-card .sale-label .for-sale-price{
	display: block;
    padding: 6px 15px;  
}
.shop-product-card .sale-label .for-sale{ background-color: var(--sale_action_bg); }
.shop-product-card .product-meta{ padding: 0 5px 20px; background-color: var(--product_bottom_bg); text-align: center; }
.shop-product-card .buy-btn, .shop-product-card .not-available, .shop-product-card-list .buy-btn, .shop-product-card-list .not-available{
    display: inline-block;
    padding: 10px;
    margin: 5px;
    font-weight: 600;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
    color: var(--btn_color);
    background-color: var(--btn_bg);
    cursor: pointer;
}
.shop-product-card .not-available, .shop-product-card-list .not-available {
    opacity: 0.6;
}
.shop-product-card .like-it, .shop-product-card-list .like-it, .add-to-cart-area .like-it{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    display: -webkit-inline-flex;
    -webkit-justify-content: center;
    -webkit-align-items: center;
	transition: 0.3s all;
	-webkit-transition: 0.3s all;
    cursor: pointer;
    width: 40px;
    height: 40px;
    -webkit-box-shadow: 0px 0px 0px 1px #DADADA inset, 0px 0px 0px 6px transparent;
    box-shadow: 0px 0px 0px 1px #DADADA inset, 0px 0px 0px 6px transparent;
}
.shop-product-card .like-it:hover, .shop-product-card-list .like-it:hover, 
.add-to-cart-area .like-it:hover, .shop-product-card .like-it.active, 
.shop-product-card-list .like-it.active{
    color: #F8694A;
    -webkit-box-shadow: 0px 0px 0px 1px #F8694A inset, 0px 0px 0px 0px #F8694A;
    box-shadow: 0px 0px 0px 1px #F8694A inset, 0px 0px 0px 0px #F8694A;
}
.like-it .wish-list, .like-it i{ background-color: #fff; color: #666; text-decoration: none;}

.shop-product-card .add-to-cart-container, .shop-product-card-list .add-to-cart-container{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	display: -webkit-flex;
	-webkit-align-items: center;
	justify-content: center;
	-webkit-justify-content: center;
	-webkit-flex-wrap: wrap;
	opacity: 0;
    visibility: hidden;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
}
.shop-product-card:hover .add-to-cart-container{ opacity: 1; visibility: visible; }
 
.shop-product-card .product-name{
	display: block;
    height: 31px;
    overflow: hidden;
    padding: 0 2px;
    margin: 5px 0 10px 0;
}
.shop-product-card .product-name h2, .shop-product-card-list .product-name, .vezani_artikli .shop-product-card .product-name h2{
	font-weight: 700;
    font-size: 14px;
    color: var(--product_title_color);
    margin: 0 0 10px;
}
.shop-product-card .product-price, .shop-product-card-list .product-price{
    display: block;
    font-size: 25px;
    line-height: 1;
    color: var(--product_price_color);
} 
.price-holder{ height: 45px; }

.shop-product-card .product-old-price, .shop-product-card-list .product-old-price{
    text-decoration: line-through;
    color: var(--product_old_price_color);
    font-weight: 700;
}
.shop-product-card:hover{
    -webkit-box-shadow: 0px 6px 10px -6px rgba(0, 0, 0, 0.175);
    box-shadow: 0px 6px 10px -6px rgba(0, 0, 0, 0.175);
    -webkit-transform: translateY(-4px);
    -ms-transform: translateY(-4px);
    transform: translateY(-4px);
}
.shop-product-card .product-image-wrapper, .shop-product-card-list .product-image-wrapper{
    height: 320px;
    display: flex;
    display: -webkit-flex;
    overflow: hidden;
}
.shop-product-card .product-image-wrapper a, .shop-product-card-list .product-image-wrapper a { margin: auto; }
.shop-product-card .article-details{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0; 
    visibility: hidden; 
    z-index: 5;
    font-weight: 700;
    color: #30323A;
    background-color: #FFF;
    box-shadow: 1px 1px 5px #30323A;
    display: inline-block;
    padding: 10px 5px;
   -webkit-transition: 0.3s all;
    transition: 0.3s all;
}
.shop-product-card:hover .article-details{ opacity: 1;  visibility: visible;  }
.shop-product-card .product-image { max-height: 250px; padding: 0 10px; width: auto; }
.shop-product-card .buy-btn i { font-size: 13px; margin-right: 5px; }
.shop-product-card .buy-btn:hover, .shop-product-card-list .buy-btn:hover {
    color: #FFF;
    background-color: var(--add_to_cart_btn_bg_hover);
}
#product-page .JSproduct { width: 20%;  }
.JSrelated-products{ overflow: hidden; }

/*=========== PRODUCT ON LIST ==================*/
.shop-product-card-list{
	margin: 5px 0;
    box-shadow: 1px 1px 10px #ddd;
    background-color: var(--product_bg);
    transition: .1s ease-in-out;
    -webkit-transition: .1s ease-in-out;
}
.shop-product-card-list:hover{ box-shadow: 1px 1px 2px #8c8c8c; }
.shop-product-card-list .product-image-wrapper{ height: 160px; }
.shop-product-card-list .product-image-wrapper .product-image{
    max-width: 90%;
    max-height: 160px;
    width: auto;
    padding: 5px 0;
    margin: auto;
}
.shop-product-card-list .product-name{ margin: 10px 0; }
.shop-product-card-list .buy-btn, .shop-product-card-list .not-available{ padding: 10px; margin: 15px 5px; }

.shop-product-card-list .add-to-cart-container{
	visibility: visible;
	opacity: 1;
	justify-content: flex-end;
	-webkit-justify-content: flex-end;
}
.shop-product-card-list .ribbon-sale {
    position: absolute;
    left: -5px; 
    top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 75px; height: 75px;
}
.shop-product-card-list .ribbon-sale span {
    font-size: 13px;
    font-weight: bold;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    width: 100px;
    display: block;
    background: #f8694a;
    box-shadow: 1px 1px 5px #bbb;
    position: absolute;
    top: 19px;
    left: -21px;
}
.shop-product-card-list .ribbon-sale span::before {
    content: "";
    position: absolute; left: 0px; top: 100%;
    z-index: -1;
    border-left: 3px solid #f8694a;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #f8694a;
}
.shop-product-card-list .ribbon-sale span::after {
    content: "";
    position: absolute; right: 0px; top: 100%;
    z-index: -1;
    border-left: 3px solid transparent;
    border-right: 3px solid #f8694a;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #f8694a;
}

/* ========= TAGS ============== */
 .product-tags div a{
 	color: #fff;
    font-size: 14px;
    margin: 2px;
    border-radius: 5px;
    padding: 0px 5px;
    display: inline-block;
    background-color: #44aacb;
 }
.product-tags span{ font-weight: 700; display: block; border-bottom: 1px solid #ddd; }

/*===========================*/
.PDV_price{ font-size: 15px; color: #333; margin-right: 10px; }

.PDV{ font-weight: 600; font-style: normal; }

.article-manufacturer-text{ font-style: italic; font-weight: bold; color: #666; }

.article-brand-img img{ max-width: 100%; max-height: 50px; padding: 5px 0; }

.artical-brand-text{
    display: inline-block;
    font-style: italic;
    padding: 5px 0;
    font-weight: 600; 
} 
/*--- FOOTER ---*/
footer{ background-color: var(--footer_bg); color: #fff; padding: 50px 0 20px; }

.footer-logo img{
    margin: 10px 0;
    max-width: 100%;
    max-height: 65px;
}
.footer-box-pages-title{ text-transform: uppercase; min-height: 30px; margin: 5px 0; }
.footer-cols > div:nth-child(1), .footer-cols > div:nth-child(2), .footer-cols > div:nth-child(3){
    min-height: 180px;
}
footer .mailto{ color: inherit; }
footer .foot-note a { color: #fff; }
/*- FOOTER LINKS -*/
.footer-links li a { color: #fff; display: inline-block; margin: 2px 0; } 
.after-footer { 
	background-color: #fff; 
    padding: 10px 0;
}
.after-footer .banks div ul li img{
    max-height: 40px;
    max-width: 150px;
    margin: 10px 0;
    width: auto;
    height: auto;
}
/*- NEWSLETTER -*/
.newsletter { margin: 15px 0; }

/*============== SOCIAL ICONS ===========*/
#preheader>.social-icons{
    position: fixed;
    right: 0;
    top: 35%;
    transform: translateY(-35%);
	display: -webkit-flex;
	-webkit-flex-direction: column;
	display: flex;
	flex-direction: column;
	z-index: 50;
}
.social-icons a {
    display: inline-flex;
    font-size: 30px;
    width: 23px;
    height: 24px;
    background: #fff;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin: 1px;
}
.social-icons a:hover{ opacity: .7; }
.social-icons .facebook { color: #3b5999; }
.social-icons .twitter { color: #55acee; }
.social-icons .google-plus { color: #dd4b39; }
.social-icons .skype { color: #00AFF0; border-radius: 50px; }
.social-icons .youtube {color: #b30000; }
.social-icons .linkedin { 
    color: #fff; 
    background: #007bb5;   
    text-shadow: -1px -1px 0px #007bb5;
    box-shadow: 1px 0px 0px 0px #007bb5; 
}
.social-icons .instagram { color: #ececec; background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%); }
footer .social-icons a { margin: 10px 5px; }

/*--- SCROLL TO TOP ---*/
a.JSscroll-top {
    position: fixed;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    color: #747474;
    right: -70px;
    bottom: 95px;
    border: 1px solid #ddd;
    background: var(--scroll_top_bg);
    z-index: 20;
    padding: 11px;
    border-radius: 10%;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.4);
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
a.JSscroll-top:hover { background: var(--btn_bg); color: var(--btn_color) !important;  }

/* ======= NEWS ========= */
.news {
    padding: 18px;
    margin: 30px 15px;
    background: #fff;
	box-shadow: 1px 1px 7px #ddd;
}
.news img{ max-height: 100px; padding: 10px 0; }

a.news__more {
    padding: 5px 15px;
    display: inline-block;
    color: var(--btn_color);
    background: var(--btn_bg);
}
a.news__more:hover{ background: var(--btn_hover_bg); color: var(--btn_color); } 
/*- PRODUCT LIST OPTIONS -*/
.JSproduct-list-options { background-color: var(--product_list_bg); margin: 5px 0; }
.view-buttons span {
    width: 20px;
    height: 20px;
    color: #F8694A;
    vertical-align: middle;
    display: inline-block;
    font-size: 16px;
}
.view-buttons span.active { color: #000; }
.view-buttons{ margin: 0 10px; }
.vidiKao{ font-size: 11px; font-weight: bold; }
.view-buttons span:hover { transform: scale(1.2); -webkit-transform: scale(1.2); }
.descr-title{ font-weight: 600; }

/*========= COMPARED ARTICLES ==============*/
.show-compered, .show-compered-active {
    background-color: #30323A;
    padding: 2px 10px;
    margin: 7px 10px;
}
.show-compered-active{
    animation: pulse 1.5s ease-in-out infinite;
}
.show-compered-active:hover, .show-compered-active:focus{ color: #fff; }
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(248, 105, 74, 0.66);
  }
  70% {
    box-shadow: 1px 1px 5px 20px rgba(251, 174, 157, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(251, 174, 157, 0);
  }
}
.show-compered:focus{ color: #fff; }
.show-compered:hover { background: #595959; color: #fff; }

#JScompareTable .JSclearCompare {
    display: inline-block;
    background: #D13E3B;
    color: #fff;
    cursor: pointer;
    padding: 2px 7px;
}
.table-responsive{ border: none; }
.compare-table table{ width: 100%; }
.compare-table table td { border-left: none; border-right: none; }
.compare-table table tr td img{
	max-height: 75px;
	max-width: 100%;
}
.compare-table tr td:first-child { text-transform: uppercase; font-weight: bold; font-size: 13px; }

/*--- PRODUCT PREVIEW ---*/
.rate-me-artical{ margin: 5px 0; }

/*- PRODUCT PREVIEW IMAGE -*/
.zoomWrapper {
    width: 100% !important;
    height: 400px !important;
    line-height: 400px;
    text-align: center;
    background: #fff;
    overflow: hidden !important;
    position: relative;
} 
.zoomContainer:last-of-type, .zoomWindowContainer { display: none !important; }
.zoomWrapper span { width: 100% !important; }
.zoomWrapper img {
    position: relative !important;
    height: auto !important;
    max-height: 100% !important;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    top: 50%;
    width: auto !important;
    margin: auto;
    padding: 10px 0;
}
a.elevatezoom-gallery {
    position: relative;
    width: 100%;
    height: 90px;
    display: inline-flex;
    display: -webkit-inline-flex;
    background: #fff;
    z-index: 1;
    overflow: hidden;
    border: 1px solid #ddd;
    margin: 5px 0;
    padding: 10px;
    vertical-align: middle;
}
a.elevatezoom-gallery img { 
	margin: auto;
	max-height: 70px; 
	max-width: 100%;
}
.zoomLens, a.elevatezoom-gallery { cursor: pointer; }
.fancybox-overlay-fixed { background: rgba(0, 0, 0, .7); }
#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
    background-image: url('../../../images/fancybox/fancybox_sprite.png') !important;
} 
/* ======================= */ 
.article-password{
	margin: 6px 0;
    text-align: right;
    font-size: 12px;
    font-weight: 600;
    opacity: .9;
    padding: 0 10px;
}
.article-sifra{ font-size: 13px; }
.add-to-cart-area{ margin: 20px 0; }
/*.nivogrupe li{ padding: 0; font-size: 13px; line-height: 1.4; }*/

/*- PRODUCT PREVIEW INFO -*/
.product-preview-info ul li a { font-weight: bold; color: #666; }

.add-to-cart-area .not-available {
    background-color: var(--add_to_cart_btn_bg_not_available);
    cursor: not-allowed;
    margin: 10px 0;
    padding: 9px;
}
/* OSOBINE */
.karakteristike_osobine, .osobina_karakteristika { display: inline-block; position: relative; margin: 3px 0; }
.osobina { margin-bottom: 5px; border-bottom: 1px solid #ddd; }
.osobina_naziv { min-width: 60px; display: inline-block; }
.osobina_karakteristika span {
    display: inline-block;
    min-width: 30px;
    height: 30px;
    padding: 4px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    text-shadow: #000 0 0 1px, #000 0 0 1px, #000 0 0 1px, #000 0 0 1px;
    border: 3px solid #ddd;
}
.osobina_karakteristika input { position: absolute; top: 0px; visibility: hidden; }
.osobina_karakteristika input:checked + span { border: 3px solid #d13e47; }
.input_kolicina { display: inline-block; margin: 0 5px; }

/* OSOBINE KRAJ */
a.add-amount-less, a.add-amount-more {
    display: inline-block;
	height: 31px;
	width: 20px;
	line-height: 31px;
	color: #fff;
	text-align: center;
	background: #ddd;
}
.product-preview-price { margin: 0 0 10px 0; }
.discount-price{ font-style: normal; color: var(--discount_price_color); font-size: 18px; }
.product-preview-price-old {
	display: block;
	font-size: 1.4em;
	text-decoration: line-through;
	padding: 0 15px;
}
.product-preview-price-new { display: block; color: var(--article_product_price_color); font-size: 30px; }
.MP-price{
    display: block;
    font-size: 16px;
    color: #666;
    padding: 0 20px 0 0;
}
/*- PRODUCT PREVIEW TABS */
.product-preview-tabs { margin-top: 20px; }
.tab-titles li { font-size: 15px; }
.tab-content {
    border: 1px solid #ddd;
    border-top: 0;
    padding: 10px 5px;
    min-height: 100px;
}
.tab-content table td{ text-align: left; padding: 4px 5px !important; }
.tab-content table{ width: 100%; }

/*===== COMMENTS ========= */
.comment-content {
	display: block;
	margin-bottom: 5px;
	padding: 6px 10px;
	font-size: 13px;
    box-shadow: 0px 0px 10px #ddd;
    position: relative;
}
.comment-content span{ display: block; }
.comment-name { font-weight: bold; }
.comment-date {
    font-size: 11px;
    position: absolute;
    top: 5px;
    right: 5px;
}
.replies { margin: 0 0 0 20px; }
.replies .comment-content { color: #000; background: #e6e6e6; }

/* ============ INSIDE CART =============== */
.without-btn {
    border-radius: 3px;
    background-color: #E0E0E0;
    color: #808080;
    margin: 15px 0px; 
    text-transform: uppercase;
    cursor: pointer;
    border: 1px solid transparent;
    font-weight: bold;
    -webkit-transition: all 0.25s cubic-bezier(0.42, 0, 0.51, 1.91);
    transition: all 0.25s cubic-bezier(0.42, 0, 0.51, 1.91);
}
.without-btn.active { background: var(--btn_bg); color: var(--btn_color); } 
.without-btn i {
	margin: 2px;
	font-size: 20px;
	line-height: 30px;
	-webkit-transform: scale(0);
	transform: scale(0);
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease; 
}
.without-btn.active i { -webkit-transform: scale(1); transform: scale(1); }

/*- CART ITEMS -*/
.cart-labels { margin-top: 20px; border: 1px solid #e9e9e9; }
.cart-labels li {
	padding: 7px 8px;
	color: #747474;
	text-align: center;
} 
.JScart-item li {
	padding: 6px 5px;
	overflow: hidden;
    border-bottom: solid 1px #e9e9e9;
    border-right: solid 1px #e9e9e9;
	display: flex;
	flex-wrap: wrap;
	display: -webkit-flex;
	-webkit-flex-wrap: wrap;
    min-height: 90px;
}
.JScart-item li > * { margin: auto; }
.JScart-image img {  max-height: 70px; width: auto; }
.cart-name a{ line-height: 1.2; }
li.JScart-image:first-child { border-right: none; border-left: 1px solid #e9e9e9; }
a.JScart-less, a.JScart-more {    
	vertical-align: middle;
    color: #999;
    font-size: 20px;
    margin: 0 5px; 
}
input.JScart-amount, input.cart-amount {
	width: 25px;
    text-align: center;
    height: 20px;
    padding: 0;
    margin: 0;
}
.cart-page{ padding: 20px 0; }

/*- BELOW CART -*/
.cart-summary-wrapper, .cart-remove-all-wrapper { padding: 0; }
.cart-summary { 
	padding: 7px 0; 
	border-left: solid 3px #30323A; 
	background: #f0f0f0;     
	border-bottom: 1px solid #ccc;
}
.cart-remove-all{ margin: 10px 0; }
.summary-amount { font-size: 1.2em; } 

/*- CART ACTION BUTTONS -*/
.cart-action-buttons { margin-top: 30px;  }
.no-registration-btn, .JSheader-cart-content > div a{
    background-color: var(--btn_bg);
    color: var(--btn_color) !important;
    padding: 4px 10px;
    margin: 5px 0;
}
.cart-registration-button{ background-color: #087DC2; font-size: 15px; }
.without-reg-form { margin-top: 10px; }
.JSwithout-reg-none-personal, .JSwithout-reg-personal { display: none; }
.JSwithout-reg-none-personal.active, .JSwithout-reg-personal.active { display: block; }
.cart-page .forward { width: 200px; }

/* SHOPPING INFORMATION */
.shopping-information table { width: 98%; margin: 0 auto; font-size: .9em; }
.shopping-information table th { padding: 20px 10px 10px; }
.shopping-information table td { padding: 3px 10px; text-align: left; }
.shopping-information table .summary { padding-right: 10px; text-align: right; font-weight: bold; }

/*--- USER PAGE ---*/
.user-info-form { margin: 20px 0; }
.user-info-form .submit {
	float: left;
	margin-left: 0.9375em;
	margin-top: 20px;
	padding: 1px 8px;
	font-size: 1em;
}
.user-orders-table { width: 100%; margin: 10px 0; }
.user-orders-table th,td{ border: 1px solid #ddd; padding: 5px 0; text-align: center; }
.dont-erase-me{ padding: 10px 5px; }
.user-order-button{ border-radius: 50px; }
.close-me-btn{ color: var(--btn_color); }
.modal-footer, .modal-header{ border: none; }
.bootbox p {    
    font-size: 17px;
    text-align: center;
    margin: 10px 0 0;
}
.bootbox .modal-dialog{ top: 25%; }
.bootbox .modal-dialog .btn{ padding: 5px 30px; border: none; border-radius: 0;}
.bootbox .modal-dialog .btn:nth-child(1){
    background-color: var(--btn_bg);
    color: #fff;
}
.bootbox .modal-dialog .btn:hover{ box-shadow: 1px 1px 5px #666; }
/*--- CONTACT PAGE ---*/
#map_canvas { height: 330px; margin: 10px 0; }

/*--------- AlL  CATEGORY PAGE -------------*/
.category-heading {
	margin: 15px 0 0;
	padding: 4px 10px;
    border-radius: 2px;
    color: #000;
    background-color: #f0f0f0;
}
.category-name-link {
	margin: 3px 0;
	display: block;
	border-bottom: 1px solid #ddd;
}
.category__list { display: block; }
.category__list__item__link { display: block; line-height: 1.7; }
.category-name-link, .category-heading, .category__list__item__link { font-size: 1em; } 
/*--------- ALL  CATEGORY SIDEBAR ------------- */

.JScategory-sidebar__list { margin: 20px 0; background: #f0f0f0; z-index: 801; }
.category-sidebar__list--fix { position: fixed; top: 15px; width: 270px; }
.category-sidebar__list__item__link {
	display: block;
	padding: 2px 10px;
 	font-weight: 600;
	font-size: 13px;
}
#main-menu li a:hover, #b2b-login-icon:hover,
.footer-links li a:hover, #JScategories .JSlevel-1 li a:hover,
.top-menu-links li a:hover
{ color: var(--global_color); }
 
.contact-heading{ margin: 10px 0; border-bottom: 1px solid #ddd; }

.vezani_artikli .linked-articles-input{ margin: 0; text-align: center; border: none; }

.add-to-cart-artikal {
    box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.5), 0 0 1px 1px rgba(255,255,255,0.8), 0 0 0 6px rgba(0,0,0,0.06), 0 0 0 3px rgba(0,0,0,0.1);
    display: inline-block;
    padding: 10px 15px;
    font-weight: 700;
    margin: 10px;
    color: var(--add_to_cart_btn_color);
    background-color: var(--add_to_cart_btn_bg);
}
.add-to-cart-artikal:hover{ color: var(--add_to_cart_btn_color); transform: translate(1px, 1px); -webkit-transform: translate(1px, 1px); }

/* article page admin button*/
.admin-article .supplier{ display: block; }

.admin-article{
    position: absolute;
    top: 25%;
    right: 0;
    background: linear-gradient(#fff,#ddd);
    text-align: center;
    padding: 0 7px;
    margin: 5px;
    z-index: 2;  
    border: 1px solid #ddd;
}
.article-level-edit-btn{
    font-weight: bold;
    border: 1px solid #bbb;
    font-size: 11px;
    padding: 0 5px;
    display: inline-block;
}
.mpPrice{ font-size: 22px; }
/*======================*/
.new-content { padding: 30px 15px; }
.new-content p, .new-content ul li { font-size: 1em; }
.new-content img{ 
	max-width: 100%;
	max-height: 300px;     
	display: inline-block;
	margin: 0 5px; 
}
/* Login/Registration Forms */
.login-page-padding {
	padding: 30px 0;
	min-height: 600px;
  	flex-wrap: wrap;
	display: flex;
	justify-content: center;
	align-items: center;
	-webkit-align-items: center;
	display: -webkit-flex;
	-webkit-justify-content: center;
	-webkit-flex-wrap: wrap;
	position: relative;
	background: -webkit-linear-gradient(#f0f0f0, #fff);
	background: linear-gradient(#f0f0f0, #fff);
}
.login-page-padding::before, .login-page-padding::after {
    content: ' ';
    background: -webkit-linear-gradient(#f0f0f0, #fff);
    background: linear-gradient(#f0f0f0, #fff);
    width: 15px;
    height: 100%;
    position: absolute;
    display: block;
    left: -15px;
}
.login-page-padding::after { right: -15px; left: initial; }
.login-page-padding .log-in h3{
    font-size: 1.5em;
    border-bottom: 1px solid #ccc;
    padding: 5px 0;
    opacity: .8;
}
.login-page-padding .log-in span {
 	color: #666;
    font-size: 13px;
    display: block;
}
.text-log-and-reg .legal-person-link-button{
    background-color: var(--btn_bg);
    color: var(--btn_color);
    padding: 5px 15px;
}
.legal-person-link-button:hover{ background-color: var(--btn_hover_bg); }
.overlay-log-and-reg{
	position: absolute;
	bottom: 100%;
	left: 0;
	right: 0;
	background-color: rgba(48, 50, 58, .7);
	overflow: hidden;
	width: 100%;
	height:0;
	transition: .5s ease;
}
.text-log-and-reg{
	font-size: 16px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}
.overlay-container{ position: relative; max-width: 300px; }
.overlay-container:hover .overlay-log-and-reg { bottom: 0; height: 100%; }
.login-page-image{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	display: -webkit-flex;
	-webkit-align-items: center;
	-webkit-flex-wrap: wrap;
}
.welcome-login{ font-size: 13px; color: #8c8c8c; display: block; }
.welcome-login span{
    font-size: 15px;
    margin: 5px 0;
    display: block;
    color: #595959;
}
.login-form-button{ margin: 5px 0 0; } 
.forgot-psw{
    background: #fff;
    color: #777;
}
.whats-registration{
    font-size: 16px;
    font-weight: 600;
    opacity: .8;
    display: inline-block;
    margin: 10px 0;
}
#b2b-login-icon { padding: 4px; } 

/*======= ACTION SLIDER ==============*/
.btn-slider {
	padding: 1px 5px;
    color: #F8694A;
    background-color: transparent;
    outline: none;
    top: -35px;
    position: absolute;
}
.btn-slider:active{ opacity: .6; }
.previous, .slider-prev { right: 35px; }
.next, .slider-next { right: 0; }
 
/* NEWS */
.single-news img { max-height: 200px; }
.single-news { padding: 30px 10px; }

/* ADDITIONAL FILES */
.files-list-item {
	font-size: 12px;
	font-weight: bold;
	position: relative;
	display: inline-block;
    margin: 10px;
}
.files-name { font-weight: normal; margin: 6px; }

.features-list li {
	font-size: 12px;
	border-bottom: 1px solid #ddd;
	padding: 2px 10px;
    display: inline-block;
    width: 49%;
}
.features-list li:nth-child(even){ background: #f5f5f5; }
.generated-features-list:nth-child(even){ background: #f5f5f5; }
.generated-features-list > li:nth-child(1), .generated-features-list > li:nth-child(2), .generated-features-list > li ul li{
    display: inline-block;
    padding: 2px 10px;
    line-height: 1.3; 
    vertical-align: middle;
}
.generated-features-list > li:nth-child(1){ width: 30%; }
.generated-features-list > li:nth-child(2){ width: 70%; }
.generated-features-list > li ul li{ border-bottom: 1px solid #ddd; width: 50%; }
.generated-features-list > li ul li:nth-last-child(-n+2){ border-bottom: none; }
.files-link img { max-width: 60px; }
 
/*============ BRENDS ==============*/
.brend-item {
	background: #fff;
	overflow: hidden;
	padding: 5px 15px;
	font-weight: bold;
	color: #222;
	height: 80px;
	margin: 15px 0;
	border-radius: 2px;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 1px 1px 3px #f2f2f2;
}
.brend-item img{ max-height: 65px; padding: 5px 0; width: auto; }
/*=======================*/
.article-edit-btn {
    font-weight: bold;
    text-align: center;
    max-width: 150px;
    border: 1px solid #bbb;
    border-radius: 2px;
    font-size: 11px;
    padding: 0 5px;
    position: absolute;
    right: 0px;
    top: 0;
    background-color: #fff;
} 
.no-articles{
 	padding: 10px;
    display: block; 
    background: #f2f2f2;
}
#admin-menu { 
    background: #f2f2f2; 
    padding: 5px;   
    position: sticky;
    top: 0;
    z-index: 51; 
}
#admin-menu a i{ color: #e55539; font-size: 15px; }
#admin-menu div{ font-size: 13px; }
.ms { margin: 0 3px; }
#admin-menu a:hover { color: #aaa; }
.success { margin: 10px 0 0; font-weight: bold; padding: 5px; }

/* OCENE */
.review-star { cursor: pointer; }
.review{ font-size: 12px; }
#review-number { display: none; }
.fa-star, .fa-star-o { color: var(--review_star_color); }
.comment-rating { font-size: 12px; }
.bw { background-color: var(--inner_body_bg); }
.karak-row {
	min-height: 25px;
	border-bottom: 1px solid #bbb;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	display: -webkit-flex;
	-webkit-align-items: center;
	-webkit-flex-wrap: wrap;
}
.karak-row:last-child{
	border-bottom: none;
}
/*---------- MEDIAQUERIES ----------*/
 @media screen and (min-width:991px) {
  	#JScategories .JSlevel-1 li:hover .JSlevel-2 {
		display: block;
		border-left: 2px solid var(--global_color);
		-webkit-box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.175);
		box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.175);
	    min-height: 100%;
		} 
    /*#JScategories:hover > .JSlevel-1 { display: block !important; }*/
    #JScategories .JSlevel-1 > li { border-left: 2px solid transparent; }
    #JScategories .JSlevel-1 > li:hover { border-left: 2px solid var(--global_color); }
	body.modal-open { overflow-y: auto; margin-right: -17px; overflow-x: hidden; }

    .JSsticky_header .JSlevel-1 {
        top: 59px;
    }
 }

/*--- MIN WIDTH 641px ---*/
@media screen and (min-width:641px) {
	.generated-features-list:last-child { border-bottom: none; }
	.generated-features-list{
		font-size: 1em;
		padding: 0 10px;
		display: table;
		width: 100%;
		border-bottom: 1px solid #ccc;
	}
	.below-cart { margin-top: 20px; }
}
/*======================*/
@media screen and (max-width:1024px) {
    #product-page .JSproduct{ width: 25%;} 
 	.JSheader-cart-content{ display: none; }
	.sub_cats_item_brend img{ max-width: 130px; } 
}

 @media only screen and (max-width: 991px){
    #product-page .JSproduct{ width: 33%;} 
	#responsive-nav {
	    position: fixed;
	    left: 0;
	    top: 0;
	    bottom: 0;
	    max-width: 270px;
	    width: 0%;
	    overflow: hidden;
	    background-color: #f2f2f2;
	    -webkit-transform: translateX(-100%);
	    -ms-transform: translateX(-100%);
	    transform: translateX(-100%);
	    -webkit-transition: 0.5s all;
	    transition: 0.5s all;
	    z-index: 990;
	    overflow-y: scroll;
	}
	.resp-nav-btn {
	    display: inline-block;
	    border: 1px solid var(--global_color);
	    color: var(--global_color);
	    padding: 6px 11px;
	    cursor: pointer;
	    font-size: 17px;
	    line-height: 1;
     }
	 .openMe {
	    width: 100% !important;
	    -webkit-transform: translateX(0%) !important;
	    -ms-transform: translateX(0%) !important;
	    transform: translateX(0%) !important;
	}
	#JScategories .JSlevel-1, .header-dropdown-content{ position: relative; display: block; }
    #main-menu .header-dropdown-content li a{ background-color: #f2f2f2; } 
 	.JSsubcategory-toggler { display: inline-block; }
	.level-1-list{ position: relative; }

	#main-menu li a{
		color: #222;
		padding: 6px 0;
		font-size: 13px;
	}
	.pages-in-header{ margin: 20px 0; } 
    .pages-in-header li{ float: none; }
	#JSmain-slider, .banners-right{ margin-left: 0;}
	.container { width: auto;  padding: 0; }
	.overlay-log-and-reg{ bottom: 0; height: 100%; }
	.JSclose-nav{
		display: inline-block;
		position: absolute;
		right: 35px;
        top: 5px;
        font-size: 30px;
	}
	#JScategories .JSlevel-2 li{ width: 100%; }
    #JScategories .JSlevel-2 {
		position: relative;
		left: 0;
	 	width: 100%;
		padding: 0 0 0 15px;
	}
	.JSCategoryLinkExpend{ display: none; }
	#JScategories .JSlevel-4 li{ display: block; }
	.shop-product-card .add-to-cart-container, .shop-product-card-list .add-to-cart-container{ visibility: visible; opacity: 1; }
	#JScategories .JSlevel-1 li a{ margin: 3px 0; } 
}
/*=================*/
@media only screen and (max-width: 768px){
  .JScategory-sidebar__list {
		position: fixed;
		top: 50%;
		right: 0px;
		margin-right: -80%;
		width: 80%;
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
		-webkit-transition: margin 0.2s ease-in-out;
		transition: margin 0.2s ease-in-out;
		border: 1px solid #ddd;
	}
 .JScategory-sidebar__list__toggler {
		line-height: 30px;
		text-align: center;
		font-size: 20px;
		width: 35px;
		height: 35px;
		position: absolute;
		top: 40%;	
		transform: translateY(-40%);
		left: -35px;
		background: #f0f0f0;
		border-radius: 3px 0px 0px 3px;
		color: #747474;
		font-weight: 700;
		border: 1px solid #747474;
		cursor: pointer;
	}
	.category-sidebar__list--open { margin-right: 0%;} 
	.category-sidebar__list--open .JScategory-sidebar__list__toggler:before { content: "\2192";} 
	.JScategory-sidebar__list__toggler:before { content: "\2190";} 
	#product-page .JSproduct{ width: 49%;} 
	.top-menu-links li a:after{
	    content: '';
	    position: absolute;
	    height: 100%;
	    width: 96%;
	    bottom: 0;
	    left: 5px;
	    border-bottom: 1px solid #fff;
	}
    .footer-links li a { margin: 0 0 15px; } 
    .banners-right a, .banners-right img{ max-height: initial; margin: 5px auto; }
     a.elevatezoom-gallery{ width: 23%; }
	 #preheader>.social-icons{ display: none; }
	 #b2b-login-icon{ padding: 9px 0; }
	 .sm-text-center { text-align: center; }
     .disableZoomer:after{
        content: ''; 
        position: absolute;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
     }
}
/*--- MAX WIDTH 640px ---*/
@media only screen and (max-width:640px) {
	#product-page .JSproduct, #JScategories .JSlevel-1, .generated-features-list > li:nth-child(2){ width: 100%; }
 	#main-content{ min-height: 400px; }
	#JScategories .level-4{ display: block;	}
	.sub_category_item{ height: 90px;	}
    .filters{ padding: 10px; }
 	.footer-box-pages-title{ min-height: auto; margin: 15px 0; border-bottom: 1px solid #fff;    padding: 0 0 5px; }
	.karak-row{ height: auto; border: none; }
	.category-sidebar__list__item__link{ padding: 5px 10px; } 
	.JSproduct-list-options { padding: 10px 0; }
	.product-preview-price-new { font-size: 1.6em;}
	.generated-features-list { margin: 30px 0;  }
	.product-preview-tabs .generated-features-list .features-list-title { 
        border-top: 1px solid #bbb;
        border-bottom: 1px solid #bbb;
        color: #000; 
        font-weight: 600; 
        width: 100%;
    }
	.JScart-item { border-top: solid 1px #ddd; margin: 10px 0; }
	.cart-summary-wrapper{ margin: 10px 0 0; }
}
/*--- MAX WIDTH 480px ---*/
@media screen and (max-width:479px) {
	h2 { font-size: 1.4em; } 
	.shop-product-card .product-price, .shop-product-card-list .product-price{ font-size: 18px; }
	.scrollable { overflow-y: scroll; height: 400px; display: block; }
	.article-heading{ font-size: 16px; }
	.zoomWrapper{ height: 180px !important; }
	.heading-background{ font-size: .9em; }
	.tab-titles li { font-size: 13px; }
	.tab-titles li a { padding: 10px; }
	.shop-product-card .product-image-wrapper { height: 200px; }
	.shop-product-card .product-image { max-height: 190px; }
	.after-footer .banks div ul li img { max-height: 30px; }
    .JScart-item li { border-left: solid 1px #e9e9e9; min-height: auto; }
    .login-form-button, #loginModal .create-acc { width: 100%; }
}