/* STYLE.CSS v.1.0.0 */

/*---------- GENERAL STYLES ----------*/

body {
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
	padding: 0;
	color: #222;
	background: #efefef;
	-webkit-font-smoothing: antialiased;
}
a:link, a:visited, a:hover, a:active {
	text-decoration: none;
	color: #008800;
	outline: none;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 600;
	font-family: 'Open Sans', Arial, sans-serif;
}
h1 {
	font-size: 1.8em;
}
h2 {
	padding: 15px 24px;
    margin: 0 0 5px;
    font-size: 21px;
    color: #fff;
    background: #008800;
}
.article-heading {
	padding: 15px 10px;
    margin: 0 0 5px;
    font-size: 24px;
    color: #008800;
    background: #fff;
}
.h2-margin {
	margin-top: 10px;
	margin-bottom: 10px;
}
h3 {
	padding: 2px 10px;
	font-size: 1.3em;
	background: #f0f0f0;
}
h4 {
	font-size: 1.2em;
}
h5 {
	font-size: 1.1em;
}
h6 {
	font-size: 1em;
}

/*--- FOUNDATION OVERRIDES ---*/
.medium--0-5,
.small--0-5,
.large--0-5 {
	width: 4.166665;
}

.row {
	max-width: 100%;
}
.row .row {
	margin: 0;
}
[class*="column"]+[class*="column"].medium-3:last-child {
	float: left;
}
button {
	padding: 2px 4px;
	color: #fff;
	border-color: #bbb;
	background-color: #008800;
	outline: none;
}
button:hover {
	background-color: #004400;
	opacity: .8;
}
button:focus {
	background-color: #ccc;
	opacity: 1;
}
label {
	color: #999;
}
input, textarea {
	box-shadow: none !important;
}
input[type="text"] {
	margin-bottom: 0;
	color: #999;
	font-size: .9em;
}
button.submit {
	float: right;
    padding: 8px 18px;
	color: #fff;
	font-size: .9em;
	border: none;
	background: #008800;
}
@media only screen and (-webkit-min-device-pixel-ratio:1) {
	::i-block-chrome, input {
		line-height: 1 !important;
	}
}
textarea {
	resize: none;
	font-size: .9em;
}
select, select:hover, select:focus {
	font-size: .9em;
	outline: none;
	background-color: #fff;
}
.select-wrapper span {
	display: none;
}
@-moz-document url-prefix() {
	.select-wrapper {
		display: block;
		position: relative;
	}
	.select-wrapper span {
		display: inline-block;
		position: absolute;
		width: 24px;
		height: 94%;
		top: 1px;
		right: 1px;
		background-color: #fff;
		background-image: url('../../../images/mini-icons.png');
		background-position: 0 -269px;
		background-repeat: no-repeat;
		pointer-events: none;
		z-index: 999;
	}
}

/*---------- FEATURES ----------*/

/*--- POPUP ---*/

.popup {
	position: fixed;
	display: block;
	width: 100%;
	height: 0;
	left: 0;
	top: -2000px;
	overflow: hidden;
	background: rgba(0, 0, 0, .85);
	z-index: 9999999999999;
	transition: all 0.15s ease;
}
.popup-opened {
	top: 0;
	height: 100%;
}
.popup-wrapper {
	left: 50%;
	top: 50%;
	position: relative;
}
.JSpopup-inner {
	left: -50%;
	top: -50%;
/* 	padding: 20px; */
	position: relative;
	background: #fff;
}
.popup-close {
    position: absolute;
    right: 8px;
    top: 2px;
    width: 16px;
    height: 16px;
    line-height: 16px;
    font-size: 25px;
    color: #5A5A5A;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    background: none;
}
.popup-close:hover {
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);
}
.popup h3 {
	padding: 3px 10px;
	font-size: 1.2em;
	background: #f0f0f0;
}
.popup .submit, .popup input.submit[type="submit"] {
	font-size: .9em;
}
.popup label {
	font-size: .9em;
	font-style: italic;
}
.popup input, .popup select {
	margin-bottom: 10px;
}
.popup input.submit[type="submit"] {
	padding: 2px 4px;
}

/*--- FANCYBOX ---*/
.fancybox-overlay {
	z-index: 999999999;
}
.fancybox-overlay-fixed {
	background: rgba(0, 0, 0, .7);
}
#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
	background-image: url('../../../images/fancybox/fancybox_sprite.png');
}
.fancybox-prev span {
	left: 10px;
	background-position: 0 -36px;
}
.fancybox-next span {
	right: 10px;
	background-position: 0 -72px;
}

/*--- PRODUCT SLIDER ---*/
.JSproduct-slider {
	margin-top: 15px;
}
.JSproduct-slider .slick-prev, .JSproduct-slider .slick-next {
	height: 20px;
	width: 20px;
	top: -47px;
	background: #008800;
	background-position: center center;
	background-repeat: no-repeat;
}
.JSproduct-slider .slick-prev:hover, .JSproduct-slider .slick-next:hover {
	background: #008800;
	background-repeat: no-repeat;
	opacity: .8;
}
.JSproduct-slider .slick-prev, .JSproduct-slider .slick-prev:hover {
	right: 35px;
	left: auto;
	background-image: url('../../../images/mini-icons.png');
	background-position: -2px -327px;
}
.JSproduct-slider  .slick-next, .JSproduct-slider .slick-next:hover {
	right: 10px;
	background-image: url('../../../images/mini-icons.png');
	background-position: -2px -352px;
}
.JSproduct-slider .slick-prev:before, .JSproduct-slider .slick-next:before {
	content: '  ';
}
.JSproduct-slider .product-content {
	margin: 6px 10px;
	/*height: 325px;*/
}
.single-slide .JSproduct {
	width: 25%;
	float: left;
	margin-top: 10px;
	margin-bottom: 10px;
}
.slick-slider img {
    margin: 0 auto;
}

/* BANNER */
.banners a {
	display: block;
	margin: 10px 0;
}
.banners a:first-child {
	margin-top: 0px;
}

/*--- FILTERS ---*/
.filters {
	margin: 0;
	padding: 10px;
}
.filters .filter-field {

	/*background: #f2f2f2;*/
	padding: 5px 0;
}
.filters .filter-box {
	padding: 0;
}
.filter-info {
	color: #000;
	font-weight: bold;
	font-size: .9em;
}
.filter-info p {
	font-size: .8em;
	font-weight: bold;
	padding-bottom: 5px;
	margin-bottom: 10px;
	color: #C01112;
}
.selected-filters-title {
	font-weight: normal;
	font-size: 1.1em;
	padding-top: 2px;
}
.selected-filters-wrapper {
	background: #fff;
	padding: 10px 0;
	margin-top: 2px;
	font-weight: bold;
	font-size: 14px !important;
	text-align: center;
}
.selected-filters {
	margin: 10px 0;
}
.selected-filters li {
	display: inline-block;
	height: 32px;
	font-size: 13px;
	font-weight: 500;
	color: rgba(0, 0, 0, 0.6);
	line-height: 32px;
	padding: 0 13px;
	border-radius: 16px;
	background-color: #e4e4e4;
	margin: 5px;
}
.selected-filters li i.fa {
	cursor: pointer;
	float: right;
	font-size: 16px;
	line-height: 32px;
	padding-left: 8px;
	color: rgba(0, 0, 0, 0.6);
}
.JSselect-field {
	position: relative;
}
.label-field {
	font-size: .7em;
	display: block;
	font-weight: bold;
	line-height: 25px;
	color: #8F8F8F;
	background: #F1F1F1;
}
.filters li {
	list-style-type: none !important;
}
.JSfilter-close {
}
.filters .label-field {
	font-size: 14px;
	color: #222;
	background: none;
	font-weight: normal;
	padding: 5px;
	width: 100%;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	transition: background, color, 0.15s ease-in-out;
}
.filters .label-field:hover {
	background: #FAFAFA;
}
.label-field__arrow {
	font-size: 20px;
	line-height: 25px;
	transition: color, 0.2s ease-in-out, -webkit-transform;
	transition: color, transform, 0.2s ease-in-out;
	transition: color, transform, 0.2s ease-in-out, -webkit-transform;
}
.filters li .JSselect-field {
	text-indent: 10px;
	float: right;
	display: block;
	padding: 0;
	height: 24px;
	width: 200px;
	font-size: 14px;
	line-height: 20px;
	font-style: italic;
	color: #999;
	background-color: #fff;
	border: solid 1px rgb(169, 169, 169);
	cursor: pointer;
	background-image: url('../../../images/select-arrow.png');
	background-position: 180px center;
	background-repeat: no-repeat;
}
.active-filters {
	font-size: .8em;
	font-style: italic;
}
.filters li .JSmultiselect {
	text-indent: 0;    /*border: solid 1px rgb(169, 169, 169);*/
	background: #fff;
	top: 24px;
	left: 0;
	box-sizing: border-box;
	transition: max-height 0.2s ease-in-out;
}
.filters li .JSmultiselect label a {
	cursor: default;
}
.filters .filter-box:before {
	display: none;
}
.JSmultiselect {
	width: 100%;
	background: white;    /*overflow: hidden;*/
	padding: 0 5px;    /*max-height: 0px;*/
}
.m-hidden {
	z-index: -9999;
	display: none;
	top: 50px;
}
.m-shown {
	display: block;
	z-index: 9999;
	top: 25px;
}
.JSmultiselect label {
	display: block;
	padding: 3px 5px;
	font-size: 0.9em;
	cursor: pointer;
	transition: all .2s ease-in-out;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}
.filter-text {
	-webkit-flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
	-o-flex: 1;
	flex: 1;
	margin: 0px;
}
.JSmultiselect label input {
	vertical-align: text-bottom;
	margin-right: 6px;
	margin-bottom: 2px;
}
.JSmultiselect label input:checked {
	background: #808080;
}
.JSmultiselect label:hover {
	background: #fff;
}
.filter-price {
	position: relative;
	padding: 10px 0;
	color: #fff;
}
.filters .btn-container {
	margin-bottom: 10px;
	text-align: center;
}
a.JSreset-filters-button {
	font-size: 13px;
	color: #fff;
	text-transform: uppercase;
	display: inline-block;
	padding: 5px 15px;
	margin: 15px 0;
	border-radius: 2px;
}
.filter-box.open .label-field {
	color: #008800;
}
.filter-box.open .label-field__arrow {
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
	color: #008800;
}

/*---------- SECTIONS ----------*/

/*--- MAIN WRAPPER ---*/

#main-wrapper {
    max-width: 1280px;
    margin: 0 auto;
    background: #efefef;
/*     box-shadow: 0 0 1px 0 #999; */
}

/*--- PREHEADER ---*/
#JSpreheader {
	/*background: #f0f0f0;*/
	padding: 2px 5px;
	padding: 3px 0;
	position: relative;
	z-index: 1;
/* 	box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35); */
}

/*- MAIN MENU -*/
#main-menu li {
	float: left;
	display: inline-block;
	line-height: 2;
}
#main-menu li:after {
	display: inline-block;
	padding: 0 7px;
}
#main-menu li:last-child:after {
	display: none;
}
#main-menu li a {
    color: rgb(0, 0, 0);
    font-size: 13px;
    /* letter-spacing: 0.025em; */
    font-weight: 600;
    margin-left: 18px;
    transition: 0.2s ease-in-out;
}

.choosed_filter {
	color: #008800;
}

/*- LOGIN & REGISTRATION ICONS -*/
#login-icon, #registration-icon {
	float: right;
	color: #222;
	line-height: 18px;
	position: relative;
}
#login-icon span, #registration-icon span {
	margin-right: 15px;
	margin-left: 5px;
	font-size: .8em;
}
#login-icon:hover, #registration-icon:hover {
	color: #00bb00;
}
#login-icon:before, #registration-icon:before {
    content: ' ';
    float: left;
    display: inline-block;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
}
#login-icon:before {
	/* background-image: url('../../../images/mini-icons.png'); */
	background-position: -4px -204px;
}
#registration-icon:before {
/* 	background-image: url('../../../images/mini-icons.png'); */
	background-position: -4px -229px;
}
.logout-wrapper {
	text-align: right;
	line-height: 16px;
}
#logout-button {
	margin-left: 15px;
	padding: 1px 4px;
	color: #fff;
	display: inline-block;
	font-size: .8em;
	background: #008800;
	box-shadow: 1px 1px 5px #bbb;
}
.logged-user, #logged-user {
	font-size: .8em;
	padding-right: 5px;
	display: inline-block;
}

/*--- HEADER ---*/
header {
	padding-top: 4px;
	border-bottom: solid 1px #ddd;
	background: #fff;
}
header.header-fixed {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 99999999;
	box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.35);
	border-bottom: none;
}
.header-fixed {
    height: 60px;
}

.header-fixed .header-cart-icon:before {
	height: 35px;
}

.header-fixed #JSbroj_cart {
	font-weight: 300;
	font-size: 14px;
}

.header-fixed .logo img {
	top: 0;
	height: 40px;
}

.header-fixed .JSsearchContent {
	margin-top: 8px;
}

/*- LOGO -*/
.logo-area {
	text-align: center;
}
.logo {
	display: inline-block;
	position: relative;
	max-width: 100%;
	padding: 0;
}
.logo img {
	height: 58px;
	width: auto;
}

/*- SEARCH -*/
.JSsearchContent {
	position: relative;
	margin-top: 20px;
}
.JSsearch-button {
	position: absolute;
	top: 0;
	right: 0;
	width: 10%;
	height: 100%;
	background-color: #008800;
}
.JSsearch-button i {
	font-size: 20px;
}
.JSsearch-button:hover {
	background-color: #008800;
	opacity: .8;
}

/* search sugestions */
ul.JSsearch_list {
	padding: 15px;
	position: absolute;
	left: 0px;
	top: 0px;
	margin-top: 36px;
	z-index: 800;
	width: 100%;
	background: #fff;
	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	box-sizing: border-box;
	max-height: 400px;
	overflow: auto;
}
li.search_list__item {
	font-size: 12px;
}
li.search_list__item:last-child a {
	border-bottom: none;
}
.search_list__item__link {
	display: block;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	border-bottom: 1px solid #f1f1f1;
	line-height: 2;
}
.search_list__item__link__text {
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
}
.search_list__item__link__cat {
	font-size: 12px;
	color: #808080;
	width: 100px;
}

/*- HEADER CART -*/
.header-cart {
	position: relative;
	padding-bottom: 8px;
}
.header-cart a {
	color: #595959;
	font-size: 13px;
    font-weight: 600;
}
.header-cart-icon {
	position: relative;
	display: block;
	text-align: center;
	width: 120px;
	margin: 0 auto;
	/* box-shadow: 0px 1px 2px #bbb; */
	transition: 0.2s ease-in-out;
}
.header-cart-icon:before {
	content: ' ';
	display: block;
	float: none;
	width: 50px;
	height: 50px;
	margin: 0 auto;
	background-image: url('../../../../images/themes/simple/light_green/large-icons.png');
	background-position: 0;
	background-repeat: no-repeat;
	opacity: 1;
}
.header-cart-icon:hover {
	border-radius: 3px;
	/* box-shadow: 5px 5px 20px #bbb; */
	transition: 0.2s ease-in-out;
}
.header-cart-icon span {
	color: #000;
	
}
.JSheader-cart-content {
	background: #fff;
	position: absolute;
	width: 450px;
	margin-top: 8px;
    right: -15px;
	padding: 0 10px;
	box-shadow: 0 0 1px 0 #999;
	border-radius: 2px;
	display: none;
	z-index: 9999999;
}
.header-cart:hover .JSheader-cart-content {
	display: block;
}
.JSheader-cart-content li {
	padding: 10px 0;
	border-bottom: solid 1px #f0f0f0;
}
.JSheader-cart-content li:last-child {
	border-bottom: none;
}
.header-cart-image-wrapper {
	display: inline-block;
	width: 52px;
	height: 52px;
	line-height: 48px;
	text-align: center;
	border: solid 1px #ccc;
	background: #fff;
}
.JSheader-cart-content li img {
	display: inline;
	max-width: 95%;
	height: auto;
	max-height: 95%;
}
.JSheader-cart-content li a {
	display: inline-block;
	width: 47%;
	height: 1.3em;
	padding: 0 5px;
	font-size: .9em;
	color: #008800;
	text-align: center;
	overflow: hidden;
}
.header-cart-amount {
	display: inline-block;
	width: 25px;
	height: 20px;
	line-height: 20px;
	margin-right: 10px;
	font-size: .9em;
	text-align: center;
	border: solid 1px #f0f0f0;
}
.header-cart-price {
	color: #999;
	font-size: .9em;
}
.header-cart-summary {
	display: block;
	text-align: right;
	padding: 5px 7px;
	margin: 8px 0;
	background: #f0f0f0;
}
.header-cart-summary span {
	margin-left: 10px;
}
.header-cart-summary span span {
	margin: 0;
}
.JSheader-cart-content .close {
	display: inline-block;
	float: right;
	width: 15px;
	height: 15px;
	line-height: 14px;
	margin-top: 18px;
	padding: 0;
	font-size: 13px;
	color: #fff;
	background: #999;
}
.JSheader-cart-content .close:hover {
	background: #F02626;
}

/*--- MIDDLE AREA---*/
#sidebar-left {
	padding: 0;
}
#middle-area {
	margin-top: 10px;
	/* background: white; */
}
/* category acccent button */
#JScategories .category-item-accent {
	background: #008800;
	color: #fff;
}
#JScategories .JSlevel-1 > li.category-item-accent a {
	background: none;
	color: #fff;
	border-bottom: none;
}

/*- CATEGORIES -*/
#JScategories {
	position: relative;
	margin-bottom: 15px;
	z-index: 800;
	background: #fff;
}
#JScategories h3 {
    padding: 15px 10px;
    margin: 0 0 5px;
    font-size: 24px;
    color: #008800;
    background: #fff;
}
#JScategories .JStoggler {
	width: 33px;
    height: 41px;
    float: right;
    position: absolute;
    right: 24px;
    top: 6px;
    z-index: 999;
    cursor: pointer;
    color: #008800;
    font-size: 35px;
    display: none;
  /*background-image: url('../../../images/mini-icons.png');
	  background-position: -2px -180px;
	  background-repeat: no-repeat;*/
}
#JScategories .JSlevel-1 {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
#JScategories .JSlevel-1 li {
	padding: 0 15px;
	position: relative;
	transition: all .2s ease-in-out;
}
#JScategories .JSlevel-1 > li:hover {
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, .7);
	z-index: 710;
}
#JScategories .JSlevel-1 > li.parent:hover:after {
	position: absolute;
	content: ' ';
	display: inline-block;
	right: 0;
	top: 0;
	width: 6px;
	height: 100%;
	background: #fff;
	z-index: 800;
}
.category__link-group {
	-ms-align-items: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}
.category__link-group__link {
	display: block;
	width: 100%;
	-ms-align-items: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	display: -webkit-flex !important;
	display: -ms-flexbox !important;
	display: flex !important;
}
.category__item__link__span {
	font-weight: normal;
	font-size: 85%;
}
.category__item__link__expend {
	padding: 2.5px;
	cursor: pointer;
	color: #999;
}
.category__item__link__expend i.fa {
}
#JScategories .JSlevel-1 li a {
	position: relative;
	display: block;
	padding: 7px 5px;
	color: #222;
	font-weight: bold;
	font-size: 13px !important;
	border-bottom: solid 1px #f0f0f0;
	transition: all .2s ease;
}
#JScategories .JSlevel-1 li a:hover {
	padding-left: 8px;
}
#JScategories .JSlevel-2 {
	position: absolute;
	width: 633px;
	height: 0;
	top: 0px;
	left: 100%;
	background: #fff;
	overflow: hidden;
	z-index: 700;
	-webkit-transform: translateX(-10px);
	transform: translateX(-10px);
	opacity: 0;
	margin: 0;
	transition: all 0.15ss ease-in-out;
}
#JScategories .JSlevel-1  li:hover .JSlevel-2 {
	top: 0;
	height: auto;
	-webkit-transform: translateX(0px);
	transform: translateX(0px);
	opacity: 1;
}
.JSsubcategory-toggler {
	display: none;
	position: absolute;
	width: 40px;
	height: 47px;
	right: 15px;
	top: 0;
	text-align: center;
	transition: all 0.15ss ease-in-out;
}
.JSsubcategory-toggler span {
    display: inline-block;
    position: relative;
    width: 29px;
    height: 27px;
    line-height: 20px;
    top: 4px;
    left: -41px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    background: rgba(167, 167, 167, 0.63);
    font-size: 41px;
    padding-top: 2px;
}
#JScategories .JSlevel-2 li .JSsubcategory-toggler {
	right: 6px;
}
#JScategories .JSlevel-2 li .JSsubcategory-toggler span {
	color: #999;
	background: #f0f0f0;
	display: none;
}
#JScategories .JSlevel-2 li {
	width: 50%;
	padding: 0 2.5%;
	float: left;
	position: relative;
}
#JScategories .JSlevel-2 li a {
	color: #222222;
}
#JScategories .JSlevel-2 li a:hover {
	background: none;
	padding-left: 10px;
}
.subcategory-image {
	position: absolute;
	right: 3%;
	bottom: 20px;
}
#JScategories .level-3 {
	display: none;
	padding-top: 10px;
}
#JScategories .level-3-open .level-3 {
	display: block;
	padding-top: 10px;
}
#JScategories .level-3 li {
	width: 100%;
	margin: 0;
}
#JScategories .level-3 li a {
	padding: 0 10px;
	font-size: 1.1em;
	color: #222;
	border: none;
	font-weight: normal;
}
#JScategories .level-3 li a:hover {
	background: none;
	padding-left: 0;
}

/*----------- CATEGORI HORIZONTAL  -----------*/
#JScat_hor #JScategories {
	border-bottom: 1px solid #ddd;
}
#JScat_hor .JScategories-titile {
	display: none;
}
#JScat_hor .JSlevel-1 li {
	display: inline-block;
	padding: 0;
}
#JScat_hor .JSlevel-1 > li.parent:hover:after {
	left: 0px;
	right: 0px;
	top: 90%;
	height: 6px;
	width: 100%;
	display: block;
}
#JScat_hor .JSlevel-1 li a {
	border-bottom: none;
	background-image: none;
}
#JScat_hor .JSlevel-1 li a:hover {
	padding-left: 10px;
}
#JScat_hor .JSlevel-2 {
	-webkit-transform: translateY(-10px);
	transform: translateY(-10px);
	left: 0px;
	top: 100%;
	width: 100%;
}
#JScat_hor .JSlevel-2 li {
	display: block;
	width: 100%;
}
#JScat_hor .JSlevel-2 li a {
	background-image: none !important;
}
#JScat_hor .JSlevel-1  li:hover .JSlevel-2 {
	-webkit-transform: translateY(0px);
	transform: translateY(0px);
	top: 100%;
}
#JScat_hor .parent.dropdown-left .JSlevel-2 {
	left: auto;
	right: 0px;
}
#JScat_hor .level-3 {
	display: block;
}

/*- MAIN CONTENT -*/
#main-content {
	background: #fff;
	padding: 0 0 30px;
	border-left: solid 1px #f0f0f0;
	overflow: hidden;
}

/*- MAIN SLIDER -*/
#main-slider {
	max-height: 400px;
	overflow: hidden;
	margin-bottom: 10px;
}
#main-slider .slick-prev:before, #main-slider .slick-next:before {
	content: '  ';
}
#main-slider .slick-prev, #main-slider .slick-next {
	height: 50px;
	width: 30px;
	background: #999;
	margin-top: -25px;
	background-repeat: no-repeat;
}
#main-slider .slick-prev:hover, #main-slider .slick-next:hover {
	background: #008800;
	background-repeat: no-repeat;
}
#main-slider .slick-prev, #main-slider .slick-prev:hover {
	left: 0;
	background-image: url('../../../images/large-icons.png');
	background-position: -60px center;
}
#main-slider .slick-next, #main-slider .slick-next:hover {
	right: 0;
	background-image: url('../../../images/large-icons.png');
	background-position: -110px center;
}

/* About us page */
.about-us-page {
	padding: 0 15px;
	box-sizing: border-box;
}

/*- PRODUCT */
.product-content {
	position: relative;
	padding: 1px 0 0;  /*box-shadow: inset 0 -3px 0 0 #ddd;*/
	background: #fff;
	transition: all .5s ease;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
	border-radius: 2px;
	/*height: 360px;*/
}
.product-content:before {
	content: ' ';
	width: 0;
	height: 0;
	top: 0;
	display: block;
	position: absolute;  /*border: solid;*/
	border-width: 0 0 25px 25px;
	border-color: transparent transparent #ddd transparent;
	background: #fff;
	z-index: 999;
}
.JSproduct .product-image-wrapper {
	display: block;
	max-width: 90%;
	height: 135px;
	line-height: 112px;
	margin: 20px auto;
	text-align: center;
	background: #fff;
}
.JSproduct .product-image {
	display: inline;
	max-width: 100%;
	height: auto;
	max-height: 100%;
	font-size: 0;
	overflow: hidden;
}
.JSproduct .product-title {
	display: block;
	height: 42px;
	padding: 0 10px;
	text-align: center;
	overflow: hidden;
	font-size: 13px !important;
}
.JSproduct .action-holder {
	display: block;
	position: relative;
	margin: 10px;
	text-align: center;
}
.JSproduct .product-price {
	display: block;
	font-size: 1.1em;
	margin-bottom: 15px;
	width: 100%;
}
.JSproduct .product-price span {
	font-size: .8em;
}
.JSproduct .JSadd-to-cart, .JSproduct .not-available {
	right: 0;
	position: relative;
	color: #fff;
	font-size: .9em;
	background-color: #999;
	float: none;
	display: inline-block;
	margin: 5px auto 0;
	width: 73%;
	border-radius: 2px;
	height: 28px !important;
}
.JSproduct .JSadd-to-cart {
	padding: 4px 7px;
	transition: all .3s ease;
}
.JSproduct .JSadd-to-cart i {
	font-size: 13px;
	margin-right: 5px;
}
.JSproduct .JSadd-to-cart:hover {
	padding-right: 15px;
}
.JSproduct .not-available {
    padding: 4px 3px 2px 4px;
    text-align: center;
    opacity: 0.6;
	cursor: text;
	height: 28px;
}

/*Uporedi btn */
.JSproduct .JScompare {
	width: 73%;
	background-color: #DFDFDF;
	color: #9F9F9F;
	margin: 5px auto;
	height: 28px;
	transition: background, color, 0.2s ease-in-out;
}
.JSproduct .JScompare:hover, .JSproduct .JScompare.active {
	background: #008800;
	color: #fff;
	opacity: 1;
}
.JSproduct .JScompare i.fa {
	margin-right: 5px;
}

/* end */

/*--- FOOTER ---*/

footer {
	padding: 10px 0;
	color: #fff;
	background: #999;
    background-color: #004400 !important;
}
footer h4 {
	margin: 0;
	padding: 3px 0;
	font-size: 1.2em;
	color: #fff;
}

/*- FOOTER LINKS -*/
.footer-links li a {
	position: relative;
	padding: 5px 15px 0px 30px;
	display: block;
	color: #fff;
	transition: all .3s ease;
	font-weight: bold;
    font-size: 12px;
}
.footer-links li:last-child a {
	border-bottom: none;
}
.footer-links li:first-child a {

	/*border-bottom: solid 1px #888;*/
}
.footer-links li:hover a {
	padding-left: 40px;
}

footer .social-icons {
	text-align: center;
    margin-top: 25px;
}
footer .social-icons a {
    margin-right: 15px;
}

/*- NEWSLETTER -*/
.newsletter.row {
	margin: 15px 0;
	position: relative;
}
.newsletter input {
	height: 30px;
	line-height: 30px;
	padding-top: 0;
	padding-bottom: 0;
}
.newsletter button {
	position: absolute;
	height: 100%;
	right: 0;
	top: 0;
	padding: 0 10px;
	font-size: .9em;
	background: #008800;
}
.newsletter button:hover {
	background: #008800;
	opacity: .8;
}

/*- SOCIAL ICONS -*/
.preheader-icons .social-icons {
    margin-left: 20px;
    float: left;
}
.social-icons a {
	display: inline-block;
	width: 24px;
	height: 24px;
	margin-right: 5px;
	background-image: url('../../../images/social-icons.png');
	background-repeat: no-repeat;
	transition: all .3s ease;
}
.preheader-icons .social-icons a {
	background-color: #008800;
    border-radius: 50%;
}
.social-icons a:hover {
	opacity: .5;
}
.social-icons .facebook {
	background-position: 0 0;
}
.social-icons .twitter {
	background-position: -24px 0;
}
.social-icons .google-plus {
	background-position: -48px 0;
}
.social-icons .skype {
	background-position: -72px 0;
}

/*--- FOOTNOTE ---*/
.footnote {
	text-align: center;
	padding: 3px 10px;
	font-size: .9em;
}
.footnote a {
	color: #fff;
}

/*--- LOGIN FORM ---*/
.login-popup .popup-wrapper, .login-popup .JSpopup-inner {
	width: 300px;
	height: 275px;
}
.login-form .forget-password {
	font-size: .9em;
}
.login-form .forget-password:before {
	display: inline-block;
	content: ' ? ';
	width: 20px;
	height: 20px;
	margin-right: 10px;
	color: #fff;
	text-align: center;
	border-radius: 100%;
	background: #ddd;
}

.login-form {
	padding: 15px;
}

/*--- REGISTRATION FORM ---*/
.registration-popup .popup-wrapper, .registration-popup .JSpopup-inner {
	width: 300px;
	height: 75px;
	transition: all .5s ease;
}
.registration-popup-high .popup-wrapper, .registration-popup-high .JSpopup-inner {
	height: 602px;
}
.registration-popup h3, .registration-form {
	display: none;
}
.registration-form-open-buttons {
	margin-top: 6px;
	text-align: center;
	padding-top: 20px;
}
.registration-form-open-buttons button {
	padding: 9px 16px;
	color: #fff;
	font-size: .9em;
	background: #008800;
}
button.company-registration {
	background: #999;
}
.registration-cancel {
	float: left;
	padding: 8px 32px;
	color: #999;
	font-size: .9em;
	background: #f0f0f0;
}

/*--- INFO & CONFIRM POPUP ---*/
.info-confirm-popup {
	display: none;
}
.JSinfo-popup, .confirm-popup {
	top: 0;
	height: 100%;
	background: rgba(255, 255, 255, .8);
}
.JSinfo-popup .popup-wrapper, .JSinfo-popup .JSpopup-inner {
	width: 315px;
}
.confirm-popup .popup-wrapper, .confirm-popup .JSpopup-inner {
	width: 300px;
}
.JSinfo-popup .JSpopup-inner, .confirm-popup .JSpopup-inner {
	background: #999;
}
.confirm-popup .JSpopup-inner {
	text-align: center;
}
.JSinfo-popup .p-info, .confirm-popup p {
	margin: 0;
	color: #fff;
	text-align: center;
}
.yes, .no {
	display: inline-block;
	padding: 0 10px;
	margin: 10px 3px;
	font-size: .9em;
}
.yes, .yes:hover {
	background: #f0f0f0;
	color: #999;
}

/*--- SCROLL TO TOP ---*/
a.JSscroll-top {
	position: fixed;
	font-size: 18px;
	line-height: 18px;
	text-align: center;
	color: #fff;
	right: -70px;
	bottom: 20px;
	background: #008800;
	z-index: 999;
	padding: 9px;
	border-radius: 2px;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.4);
	transition: all 0.2s ease-in-out;
}
a.JSscroll-top.show {
	right: 20px;
}

/*---------- PAGES ----------*/

/*--- PRODUCT LIST ---*/

/*- BREADCRUMBS -*/
.breadcrumbs {
	font-size: 12px;
	padding: 10px 0.9375em;
	line-height: 1.2em;
    border-width: 0;
    display: block;
    list-style: none;
    margin-left: 0;
    overflow: hidden;
    padding: 0.5625rem 0.875rem 0.5625rem;
	background-color: #fff;
}
.breadcrumbs>* {
    color: #008800;
}
.breadcrumbs li {
	display: inline-block;
	float: left;
	font-size: .85em;
	font-size: 80%;
}
.breadcrumbs>*:before {
	content: none;
}
.breadcrumbs li:after {
	display: inline-block;
	content: '\f105';
	padding: 0 5px;
	color: #008800;
	font-size: 14px;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
}
.breadcrumbs li:last-child:after {
	display: none;
}
.breadcrumbs h1 {
	font-size: 1.1em;
	margin: 0;
}


/*============================
=            NEWS            =
============================*/

.news-section {}
/* this is single post */
.news {
    padding: 18px;
    margin: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #fff;
	box-shadow: 1px 1px 7px #ddd;
}
.news-title {
    font-size: 35px;
    margin: 16px 0;
    padding: 0 20px;
    top: -65px;
    position: absolute;
    background: #008800;
}
/* button */
a.news__more {
	padding: 6px 12px;
    display: inline-block;
    font-size: 13px;
    font-weight: 700;
    color: #fff;
    background: #008800;
}

/*=====  End of NEWS  ======*/

/*- PRODUCT LIST OPTIONS -*/
.product-number {
	float: left;
	display: inline-block;
	margin-right: 8px;
	margin-bottom: 5px;
	padding: 2px 8px;
	text-align: center;
    color: #000;
    background: #ececec;
}
.JSproduct-list-options {
	padding: 6px 8px 1px;
	font-size: .9em;
	background: #fff;
}
.JSproduct-list-options .columns {
	padding: 0;
}
.pagination {
	float: left;
}
.pagination.down {
	margin-right: 8px;
	margin-top: 15px;
	float: right;
}
.pagination li {
	display: inline-block;
	margin: 0;
}
.pagination li a, .pagination li button {
	padding: 0;
	text-align: center;
	background: #008800;
	border-radius: 0 !important;
	padding: 0px 8px !important;
	color: #000;
}
.pagination li.active a {
	background: #ececec;
}
.per-page.JSselect-field {
	float: left;
	margin: 0 8px 5px 0;
	background-position: 23px -377px;
	z-index: 1;
}
.view-buttons {
	float: right;
}
.view-buttons span {
	float: left;
	display: block;
	width: 27px;
	height: 23px;
	margin-left: 8px;
	background-color: #008800;
	background-repeat: no-repeat;
	cursor: pointer;
}
.view-buttons span.active {
	background-color: #008800;
}
.grid-view-button {
	background-image: url('../../../images/mini-icons.png');
	background-position: center -101px;
}
.list-view-button {
	background-image: url('../../../images/mini-icons.png');
	background-position: center -125px;
}
.JSselect-field {
	float: right;
	position: relative;
	margin-left: 8px;
	padding: 2px 23px 2px 8px;
    color: #1a1a1a;
    background-color: #ececec;
	background-image: url('../../../images/mini-icons.png');
	background-repeat: no-repeat;
	cursor: pointer;
	z-index: 1;
}
.JSselect-field ul {
	display: none;
	position: absolute;
	width: 100%;
	top: 100%;
	left: 0;
	background-color: #ccc;
}
.JSselect-field li {
	border-bottom: solid 1px #f0f0f0;
}
.JSselect-field li:last-child {
	border-bottom: none;
}
.JSselect-field li:hover {
	background-color: #bbb;
}
.JSselect-field li a {
	color: #fff;
	width: 100%;
	padding: 3px 23px 3px 8px;
	display: block;
}

.currencyANDsort {
    display: inline-block;
    float: right;
}
.sort-products {
	width: 140px;
	background-position: 118px -377px;
}
.currency {
	width: 60px;
	background-position: 38px -377px;
}

/*- PRODUCT LIST PRODUCTS -*/
.JSproduct-list .JSproduct {
	float: left;
	width: 23%;
	margin: 10px 1%;
}
.JSproduct-list.list-view .JSproduct {
	width: 100%;

}
.JSproduct-list.list-view .product-content {
	/*height: 200px;*/
	/*box-shadow: inset -3px 0 0 0 #ddd;*/
	box-shadow: 0 0px 10px rgba(0, 0, 0, 0.25);
	width: 98%;
}
.JSproduct-list.list-view .JSproduct .product-title {
    /* height: 25px; */
    margin: 42px 0 0px;
    padding: 0;
    /* text-align: left; */
}
.JSproduct-list.list-view .JSproduct .product-price {
	float: none;
	display: block;
	left: auto;
	text-align: center;
	font-size: 1.4em;
	line-height: 1;
}
.JSproduct-list.list-view .JSproduct .JSadd-to-cart, .JSproduct-list.list-view .JSproduct .not-available {
	width: 100%;
	max-width: 150px;
	margin: 20px auto;
}
.JSproduct-list.list-view .JSproduct .product-details li {
	float: left;
	width: 48%;
	font-size: .85em;
}
.JSproduct-list.list-view .JSproduct .product-details li span {
	font-weight: bold;
}
.JSproduct-list.list-view .action-holder {
	margin: 30px 0 20px 0;
}

/* Compere */
section.compare-section {
	text-align: center;
}
.show-compered {
	display: inline-block;
    background: #008800;
    border-radius: 2px;
    color: #fff;
    height: 24px;
    line-height: 23px;
    padding: 1px 19px;
    cursor: pointer;
}
#JScompareTable .JSclearCompare {
	display: inline-block;
	background: #F22613;
	color: #fff;
	border-radius: 2px;
	line-height: 1;
	cursor: pointer;
	line-height: 26px;
	height: 26px;
	padding: 0 7px;
}
.reveal-modal .close-reveal-modal {
	font-size: 20px;
}
#JScompareTable tr td:first-child {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 13px;
}

/*--- PRODUCT PREVIEW ---*/
#product-preview {
	padding: 0 0.9375em;
	overflow: hidden;
}

/*- PRODUCT PREVIEW IMAGE -*/
.JSproduct-preview-image {
	margin-bottom: 20px;
	padding-left: 0;
	padding-right: 0;
}
.zoomWrapper {
	width: 100% !important;
	height: 350px !important;
	line-height: 350px;
	text-align: center;
	background: #fff;
	overflow: hidden !important;
}
.zoomWrapper span {
	width: 100% !important;
	margin-top: 1px;
}
.zoomWrapper img {
	position: relative !important;
	height: auto !important;
	max-height: 100% !important;
}
.zoomWindow {
	width: 100% !important;
	height: 352px !important;
	margin-top: -1px;
	border: solid 1px #f0f0f0 !important;
}
.zoomContainer {
	height: auto !important;
}
.zoomContainer:nth-child(even) {
	display: none !important;
}
.zoomLens {
	max-width: 100%;
	max-height: 350px;
	border: 1px solid rgb(153, 153, 153) !important;
}
.background-center {
	background-position: center center !important;
}
a.elevatezoom-gallery {
	position: relative;
	display: block;
	float: left;
	width: 24.5%;
	height: auto;
	max-height: 71px;
	line-height: 68px;
	margin-right: 0.66%;
	text-align: center;
	margin-top: 4px;
	background: #fff;
	z-index: 1;
}
a.elevatezoom-gallery:last-child {
	margin-right: 0;
}
a.elevatezoom-gallery img {
	display: inline;
	height: auto;
	max-height: 60px;
	max-width: 90%;
	width: auto;
}
.zoomWrapper, .zoomLens, a.elevatezoom-gallery {
	box-shadow: 0 0 0 1px #f0f0f0;
}

/*- PRODUCT PREVIEW INFO -*/
.product-preview-info {
	padding-right: 0;
}
.product-preview-info h2 {
	margin-top: 0;
	margin-bottom: 10px;
	font-size: 1.4em;
}
.product-preview-info ul li {
	display: block;
}
.product-preview-info ul li a {
	font-style: italic;
}
.add-to-cart-area {
    /* position: absolute; */
    bottom: 0;
    margin-top: 42px;
}

/*.add-to-cart-area .add-to-cart {
  float: left;
  padding: 4px 10px;
  font-size: 1.2em;
}
*/
a.add-amount-less, a.add-amount-more, a.JScart-less, a.JScart-more {
	float: left;
	height: 31px;
	width: 20px;
	line-height: 31px;
	color: #fff;
	text-align: center;
	background: #004400;
}
input.add-amount, input.JScart-amount {
	float: left;
	width: 31px;
	height: 31px;
	line-height: 31px;
	padding-top: 0;
	padding-bottom: 0;
	text-align: center;
}
.product-preview-price {
	position: relative;
	margin-top: 20px;
}
.product-preview-price-old {
	display: block;
	font-size: 1.4em;
	line-height: 2em;
	text-decoration: line-through;
	padding: 15px;
}
.product-preview-price-new {
    display: inline-block;
    padding: 0 10px;
    font-size: 25px;
    font-weight: 600;
    border-left: 6px solid #00bb00;
    background: #f0f0f0;
    color: #00bb00;
    margin-bottom: 10px;
}

/*- PRODUCT PREVIEW TABS */
.product-preview-tabs {
	margin-top: 20px;
	padding: 0;
}
.JStab-titles li {
    float: left;
    width: 210px;
    padding: 5px 0;
    text-align: center;
    border-right: solid 2px #ddd;
    background: #008800;
    cursor: pointer;
    font-weight: 600;
    color: #fff;
}
.JStab-titles li:last-child {
	border-right: none;
}
.JStab-titles li.active {
	color: #fff;
	background: #004400;
}
.tab-content {
	display: none;
}
.tab-content.active {
	display: block;
}
.features-content ul {
	margin: 20px 0;
}
.features-content ul:before, .features-content ul:after {
	content: ' ';
	display: table;
}
.features-content li {
	padding: 2px 0;
}
.features-list-items li {
	border-top: solid 1px #f0f0f0;
}
.features-list-items li:first-child, .features-list-items li:nth-child(2) {
	border-top: none;
}
.features-list-title {
	color: #008800;
}
.features-content li:nth-child(odd) {
	font-weight: bold;
}
.JScomments-content {
	padding: 20px 0;
}
.JScomments-content h3 {
	margin-top: 0;
	margin-bottom: 15px;
}

/*- COMMENTS -*/
.JScomments-content label {
	padding: 5px 0;
	font-size: .85em;
}
.JScomments-content textarea {
	height: 130px;
}
.JScomments-content .submit {
	margin-top: 10px;
	padding: 2px 8px;
}
.comment-content {
	display: block;
	margin-bottom: 20px;
	padding: 15px 20px;
	font-size: .9em;
	font-style: italic;
	background: #f0f0f0;
}
.comment-name {
	display: block;
	margin-bottom: 10px;
	font-weight: bold;
}
.comment-text {
	margin: 0;
}
.replies {
	margin: 20px 0 0 50px;
}
.replies .comment-content {
	color: #fff;
	background: #bbb;
}

/*- PRODUCT PREVIEW TAGS -*/
.tags {
	padding: 10px 0;
}
.tags li {
	float: left;
	margin-right: 5px;
	margin-bottom: 5px;
	padding: 4px 12px;
	font-size: .8em;
	font-style: italic;
	background: #f0f0f0;
}

/*--- CART ---*/
.JScart-more-icon {
	position: absolute;
	display: block;
	width: 40px;
	height: 40px;
	top: -20px;
	left: -100%;
	margin-left: -20px;
	border-radius: 100%;
	background-color: #008800;
	background-image: url('../../../images/mini-icons.png');
	background-position: center -44px;
	background-repeat: no-repeat;
	z-index: 999;
	transition: all 1s ease;
}
.JScart-more-icon-opened {
	left: 50%;
}
.without-btn {
	display: block;
	height: 40px;
	line-height: 40px;
	border-radius: 3px;
	background-color: #E0E0E0;
	color: #848484;
	padding: 0 20px;
	max-width: 200px;
	margin: 10px auto;
	text-align: center;
	text-transform: uppercase;
	cursor: pointer;
	font-weight: bold;
	-webkit-transform: scale(0.9);
	transform: scale(0.9);
	transition: all 0.25s cubic-bezier(0.42, 0, 0.51, 1.91);
}
.without-btn.active {
	background: #008800;
	color: #fff;
	-webkit-transform: scale(1);
	transform: scale(1);
}
.without-btn.active:hover {
	background: #004400;
}
.without-btn:hover {
	background-color: #656565;
}
.without-btn .fa {
	margin-left: 10px;
	font-size: 20px;
	line-height: 40px;
	-webkit-transform: scale(0);
	transform: scale(0);
	transition: all 0.25s ease;
}
.without-btn.active .fa {
	-webkit-transform: scale(1);
	transform: scale(1);
}
/*- CART ITEMS -*/
.cart-labels {
	background: #00bb00;
}
.cart-labels li {
	padding: 7px 8px;
	color: #fff;
	text-align: center;
	border-right: solid 1px #fff;
}
.cart-labels li:last-child {
	border-right: none;
}
.JScart-item {
	border-bottom: solid 1px #ddd;
}
.JScart-item li {
	padding: 6px 5px;
	text-align: center;
	overflow: hidden;
}
.JScart-item div:last-child li:last-child {
	border-right: none;
}
.cart div.medium-6 {
	padding: 0;
}
.cart-image img {
	max-width: 80%;
	height: auto;
	max-height: 50px;
}
.cart-name, .cart-price, .cart-total-price {
	font-size: .9em;
}
.cart-add-amount {
	display: inline-block;
	margin-bottom: -5px;
}
a.JScart-less, a.JScart-more {
	height: 20px;
	width: 14px;
	line-height: 20px;
}
input.JScart-amount {
	width: 30px;
	height: 20px;
	line-height: 20px;
	font-size: 12px;
	padding: 0;
}
.cart-remove .close {
	display: inline-block;
	width: 15px;
	height: 15px;
	line-height: 14px;
	padding: 0;
	font-size: 13px;
	color: #fff;
	background: #999;
}
.cart-remove .close:hover {
	background: #F02626;
}

/*-- RELATED-PRODUCTS --*/
.JSrelated-products .product-content{
	/*height: 330px;*/
}

.JSrelated-products .JSproduct {
	float: left;
	width: 25%;
}

/*- BELOW CART -*/
.cart-summary-wrapper, .cart-remove-all-wrapper {
	padding: 0;
}
.cart-summary {
	padding: 7px 0;
	text-align: center;
	border-left: solid 3px #bbb;
	background: #f0f0f0;
}
.summary-amount {
	margin-left: 10px;
	color: #008800;
	font-size: 1.2em;
}
.cart-remove-all {
	width: 100%;
	padding: 7px 0px;
	border-right: solid 3px #004400;
	background: #008800;
	color: #fff;
}

/*- CART ACTION BUTTONS -*/
.cart-action-buttons {
	text-align: right;
	margin-top: 30px;
	margin-right: 0.9375em;
}
.cart-action-buttons li {
	display: inline-block;
	margin-left: 10px;
}
.cart-action-buttons li button {
	padding: 3px 8px;
}
.JScart-without-button, .JScart-without-button:hover, .cart-login-button, .cart-login-button:hover {
	background: #008800;
}
.cart-registration-button, .cart-registration-button:hover {
	background: #004400;
}

/*- SUBMIT ORDER AREA -*/
.JSsubmit-order-area {
	display: none;
}

/* BUY WITHOUT REGISTRATION - FORM */
.row.without-reg-form {
	position: relative;
	margin-top: 70px;
	border-top: solid 1px #f0f0f0;
}
.without-reg-form label {
	padding: 5px 0;
	font-size: .85em;
}
.JSwithout-reg-none-personal, .JSwithout-reg-personal {
	max-height: 0px;
	overflow: hidden;
	transition: all 0.3s ease-in-out;
}
.JSwithout-reg-none-personal.active, .JSwithout-reg-personal.active {
	max-height: 100%;
	overflow: visible;
}

/* PAYMENT METHOD */
.row.payment-method {
	position: relative;
	margin-top: 70px;
	margin-bottom: 30px;
	padding-top: 50px;
	border-top: solid 1px #f0f0f0;
}
.payment-method label {
	padding: 5px 0;
	font-size: .85em;
}
.payment-method textarea {
	height: 130px;
}

/* SUBMIT ORDER BUTTON */
.submit-order-button {
	float: right;
	margin-right: 0.9375em;
	padding: 5px 8px 5px 50px;
	background-image: url('../../../images/mini-icons.png');
	background-position: 13px -248px;
	background-repeat: no-repeat;
}

/* SHOPPING INFORMATION */
.shopping-information table {
	width: 98%;
	margin: 0 auto;
	font-size: .9em;
}
.shopping-information table th {
	padding: 20px 10px 10px;
	text-align: left;
}
.shopping-information table td {
	border: solid 1px #ddd;
	padding: 3px 10px;
}
.shopping-information table .summary {
	padding-right: 10px;
	text-align: right;
	font-weight: bold;
}

/*--- USER PAGE ---*/
.user-info-form {
	margin: 30px 0;
}
.user-info-form input {
	margin-bottom: 10px;
	color: #000;
}
.user-info-form label {
	font-size: .9em;
	font-style: italic;
	color: #999;
}
.user-info-form .submit {
	float: left;
	margin-left: 0.9375em;
	margin-top: 20px;
	padding: 1px 8px;
	font-size: 1em;
}
.user-orders-table {
	width: 100%;
}
/*--- CONTACT PAGE ---*/
#map_canvas {
	height: 330px;
	margin-bottom: 15px;
}
.contact-form label {
	padding: 5px 0;
	font-size: .85em;
}
.contact-form textarea {
	height: 130px;
}
.contact-form .submit {
	margin-top: 10px;
	padding: 2px 8px;
}

/*--- ODMOR ---*/
.odmor {
	margin-bottom: 30px;
	color: #000;
	font-size: 30px;
	text-align: center;
	font-weight: bold;
}

/*--------- AlL  CATEGORY PAGE -------------*/
.category-heading {
	margin: 20px 0 0;
	padding: 7px 10px;
}
.category-name-link {
	font-weight: 700;
	font-size: 16px;
	margin: 10px 0 5px;
	display: block;
}
.category__list {
	display: block;
}
.category__list__item {
}
.category__list__item__link {
	display: block;
	line-height: 1.7;
	color: #5E5E5E !important;
}
.category__link-group__link__text {
	display: block;
	-webkit-flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
	-o-flex: 1;
	flex: 1;
}
.category__list__item__link:hover {
	opacity: .85;
}
.category__list__item__link__span {
	color: #999;
}
.JSmenu-icon {
	display: none;
}
/*--------- ALL  CATEGORY SIDEBAR -------------*/
.category-sidebar__list {
	margin: 20px 0;
	background: #f0f0f0;
}
.category-sidebar__list--fix {
	position: fixed;
	top: 0px;
	width: 290px;
}
.category-sidebar__list__item {
}
.category-sidebar__list__item__link {
	display: block;
	padding: 10px 15px;
	font-weight: 700;
	font-size: 14px;
	transition: padding 0.2s ease-in-out;
}
.category-sidebar__list__item__link:hover {
	padding-left: 20px;
}

.preheader-icons {
	margin-top: 7px;
}

#main-menu li a:hover {
	color: #008800;
	transition: 0.2s ease-in-out;
}

.info {
	font-size: 12px;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 15px
}

/*---------- MEDIAQUERIES ----------*/

/*--- MAX WIDTH 1300px ---*/
@media screen and (max-width:1300px) {
	#JScategories .JSlevel-2 {
		width: 633px;
	}
	#JScategories .JSlevel-2 div > li {
		width: 50%;
		padding: 0 1%;
		font-size: 1em;
	}
	.subcategory-image {
		display: none;
	}
}

/*--- MAX WIDTH 1151px ---*/
/*@media screen and (max-width: 1151px) {
	.view-buttons{
		margin-top: 10px;
	}
}*/


/*--- MAX WIDTH 1120px ---*/
@media screen and (max-width:1120px) {
	.single-slide .JSproduct {
		width: 33.3%;
	}
	.JSproduct-list .JSproduct {
		width: 31.3%;
	}
}

/*---  MIN WIDTH 861px ---*/
@media screen and (min-width:861px) {
	.product-preview-info {
		height: 350px;
	}
}

/*---  MIN WIDTH 861px & MAX WIDTH 1120px ---*/
@media screen and (min-width:861px) and (max-width:1120px) {
	.JSproduct-list.list-view .JSproduct {
		padding-bottom: 20px;
	}
	.JSproduct-list.list-view .JSproduct img, .JSproduct-list.list-view .JSproduct .JSadd-to-cart, .JSproduct-list.list-view .JSproduct .not-available {
		width: 100%;
	}
	
}

/*--- MAX WIDTH 964px ---*/
@media screen and (max-width:963px) {
    .currencyANDsort, .view-buttons {
        margin-top: 10px;
    }
}

/*--- MAX WIDTH 860px ---*/
@media screen and (max-width:860px) {
	#JScategories .JSlevel-1 li a:hover {
		padding-left: 10px;
	}
	.single-slide .JSproduct {
		width: 50%;
	}
	.JSproduct-list.list-view .image-holder, .JSproduct-list.list-view .description-holder, .JSproduct-list.list-view .action-holder {
		width: 100%;
	}
	.zoomLens, .zoomWindowContainer {
		display: none !important;
	}
	.add-to-cart-area {
		position: relative;
		margin-top: 10px;
	}
	.JScomments-content .comments, .JScomments-content form {
		padding: 0;
	}
	.btn-container{
		max-width: 150px;
		margin: auto;
	}
}

/*--- MIN WIDTH 641px & MAX WIDTH 860px ---*/
@media screen and (min-width:641px)  and  (max-width:860px) {
	#JScategories .JSlevel-1 li a {
		font-size: 1em;
	}
	#JScategories .JSlevel-1 li a:hover {
		padding-left: 10px;
	}
	#JScategories .JSlevel-2 {
		width: 468px;
	}
	.footer-links li a {
		padding-left: 0;
		font-size: .9em;
	}
	.footer-links li:hover a {
		padding-left: 0;
	}
	.footer-links li a:before {
		display: none;
	}
	footer h4 {
		font-size: 1.1em;
	}
	.newsletter button {
		position: relative;
		margin-top: 5px;
	}
	.product-number, .sort-products {
		margin-bottom: 5px;
	}
	.JSproduct-list .JSproduct {
		width: 48%;
	}
	.JSproduct-preview-image, .product-preview-info, .JScomments-content .comments, .JScomments-content form, input.JScart-amount {
		width: 100%;
		padding: 0;
	}
	a.JScart-less, a.JScart-more {
		height: 15px;
		width: 100%;
		line-height: 15px;
	}
	.cart-price, .cart-total-price, select, select:hover, select:focus {
		font-size: .8em;
	}
	.contact-info, .contact-form {
		width: 100%;
	}
}

/*--- MIN WIDTH 641px ---*/
@media screen and (min-width:641px) {
	#JScategories .JSlevel-2 {
		box-shadow: 0 0 3px 0 rgba(0, 0, 0, .7);
		transition: all .5s ease;
	}
	#JScategories .JSlevel-2 li.parent > a, #JScategories .JSlevel-2 li.parent > a:hover {
		background-image: url('../../../images/parent-arrow.png');
		background-position: right center;
		background-repeat: no-repeat;
	}
	.generated-features-list {
		border-bottom: solid 1px #bbb;
	}
	.generated-features-list:last-child {
		border-bottom: none;
	}
	.row.below-cart {
		margin-top: 20px;
	}
	/*.user-info-form, .cart-page, .shopping-information {
		min-height: 750px;
	}*/
}

/*--- MAX WIDTH 640px ---*/
@media screen and (max-width:640px) {
	.info {
		width: 100%;
	}

	footer .social-icons {
		display: none;
	} 

	.social-icons {
		position: absolute;
    	top: -450px;
    	left: 30px;
	}

	.JSproduct-list.list-view .product-content {
    	max-width: 90%;
		/*height: 402px;*/
	}

	.JSproduct .JScompare {
    	width: 100%;
	}
	.JSproduct-list.list-view .action-holder {
    	margin: 5px 0;
	}
	.JSproduct-list.list-view .JSproduct .JSadd-to-cart, 
	.JSproduct-list.list-view .JSproduct .not-available {
    	width: 100%;
    	max-width: 100%;
    	margin: 20px auto;
	}
	.show-compered {
		position: absolute;
    	top: -27px;
    	right: 0;
	}

	.ukupno-konf {
    	width: 186px !important;
	}
	.konfigurator-grupa {
		max-width: 68px;
    	overflow: hidden;
	}
	.konfigurator select {
		width: 100% !important;
	}
	h2 {
		font-size: 1.3em;
	}
	header.header-fixed, #JScategories .JSlevel-1 li {
		position: relative;
	}
	.preheader-icons {
		text-align: center;
		padding: 5px 0 3px;
	}
	.preheader-icons div {
		display: inline-block;
	}
	#registration-icon span {
		margin-right: 0;
	}
	#main-menu {
		text-align: center;
	}
	#main-menu > li {
		float: none;
		display: block;
	}
	#b2b-login-icon {
    	float: none !important;
    	display: block;
    	font-size: 24px;
	}
	#main-menu li a {
		margin-left: 0;
		color: rgb(78, 78, 78);
    	font-size: 23px;
	}
	#login-icon, #registration-icon {
		margin-top: 14px;
		font-size: 24px;
	}
	.JSmenu-icon {
	    display: block;
	    position: absolute;
	    font-size: 26px;
	    top: 15px;
    	right: 15px;
	    padding: 2px 11px;
	    color: #008800;
	    /* background: #008800; */
	    /* border-radius: 3px; */
	    border: 2px solid;
	}
	.logo {
		top: 15px;
    	float: left;
	}
	#JSpreheader {
		display: none;
    	background: #fff;
    	height: 100%;
    	z-index: 99999;
    	position: fixed;
    	padding: 40% 0;
	}
	.menu-close {
		display: block !important;
	}
	.menu-close i {
	    position: absolute;
    	font-size: 60px;
    	color: #008800;
    	top: 11px;
    	right: 19px;
    }
    .logo {
		max-width: 78%;
		margin-bottom: 24px;
	}
	.logo img {
		/* height: 69px; */
	}
	#JScategories  .JStoggler, .JSsubcategory-toggler {
		display: inline-block;
	}
	#JScategories .JSlevel-1, #JScategories .level-3, .header-cart:hover .JSheader-cart-content, .cart-labels {
		display: none;
	}
	#JScategories .JSlevel-2 {
		display: none;
		height: auto;
		position: relative;
		left: 0;
		top: 0;
		width: 100%;
	}
	#JScategories .JSlevel-2 li {
		width: 100%;
		margin-bottom: 0;
	}
	#JScategories .JSlevel-2 li a, #JScategories .level-3 li a {
		font-size: 1em;
	}
	#JScat_hor .JScategories-titile {
		display: block;
	}
	.JSproduct-slider .slick-prev, .JSproduct-slider .slick-next {
		top: -46px;
	}
	.JSproduct-slider .slick-prev, .JSproduct-slider .slick-prev:hover {
		right: 38px;
	}
	.JSproduct-list .JSproduct, .JSproduct-list.list-view .JSproduct {
		width: 96%;
		margin: 10px 2%;
	}
	.JSproduct-list.list-view .product-content {
		box-shadow: 0px 0px 20px 1px #ddd;
	}
	.pagination.down {
		float: none;
		margin-right: 0;
		text-align: center;
	}
	.JSselect-field {
		float: left;
		margin: 0 8px 5px 0;
	}
	.zoomWrapper {
		height: 250px !important;
		line-height: 250px;
	}
	.product-preview-info {
		padding: 0;
	}
	.product-preview-info h2, .product-preview-price-old {
		font-size: 1.2em;
	}
	.product-preview-price-new {
		font-size: 1.4em;
	}
	.JStab-title-description {
		box-shadow: inset 0 -1px 0 0 #ddd;
	}
	.generated-features-list.row {
		margin: 30px 0;
	}
    .generated-features-list li:nth-child(2) li:nth-child(even) {
        margin-left: 10px;
        font-weight: bold;
    }
    .generated-features-list li:nth-child(2) li:last-child {
        float: left;
    }
	.features-list-title {
		border-bottom: solid 1px #bbb;
	}
	.features-list-items li:nth-child(2) {
		border-top: solid 1px #f0f0f0;
	}
	.tags li {
		margin-bottom: 5px;
	}
	.JScart-item {
		border: solid 1px #ddd;
		margin: 10px 0.9375em;
	}
	.JScart-item div:first-child {
		border-bottom: solid 1px #ddd;
	}
	.JScart-item div:first-child li:last-child {
		border-right: none;
	}
	.below-cart {
		padding: 0 0.9375em;
	}
	.cart-remove-all-wrapper {
		font-size: .7em;
	}
	.cart-action-buttons li button {
		font-size: .8em;
	}
	.features-content li {
		width: 100%;
	}
	#map_canvas {
		margin-left: 0.9375em;
		margin-right: 0.9375em;
	}
	.footer-links {
		margin-bottom: 20px;
	}
	.footer-links li:hover a {
		padding-left: 30px;
	}
	.registration-popup-high {
		overflow-y: scroll;
	}
	.registration-popup-high .popup-wrapper, .registration-popup-high .JSpopup-inner {
		top: 0;
		margin: 10px 0;
	}
    .JStab-title-description, .tab-title-tehnicaldoc, .JStab-title-comments {
        width: 100% !important;
        border-bottom: solid 1px #ddd;
        border-right: solid 2px #ddd !important;
    }

	/*----- all categori sidebar  -------*/
	.category-item-accent a {
		background: #008800;
		color: #fff;
	}
	.category-sidebar__list {
		position: fixed;
		top: 50%;
		right: 0px;
		margin-right: -40%;
		width: 40%;
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
		transition: margin 0.2s ease-in-out;
	}
	.category-sidebar__list--open {
		margin: 0%;
	}
	.category-sidebar__list--open .category-sidebar__list__toggler:before {
		content: "\2192";
	}
	.category-sidebar__list__toggler {
		line-height: 35px;
		text-align: center;
		font-size: 18px;
		width: 35px;
		height: 35px;
		position: absolute;
		top: 0px;
		left: -35px;
		background: #f0f0f0;
		border-radius: 3px 0px 0px 3px;
		color: #008800;
		font-weight: 700;
	}
	.category-sidebar__list__toggler:before {
		content: "\2190";
	}
	.category-sidebar__list--fix {
		min-width: auto;
	}
	.news-title {
	    font-size: 20px;
	    margin: 16px 0;
	    padding: 0 20px;
	    background: #008800;
	    top: 0;
	    position: relative;
	}

}
/*--- MAX WIDTH 640px END ---*/

/* Dodato Tamara */
.fancybox span.JSzoom_03 {
	display: block;
}
.logo-shopmania {
	border: 0;
}
.page-not-avalible {
	padding: 10px;
}
#content {
	width: 100%;
}
.image-upload-area .image-upload {

	/*height: 33px;*/
}
.contact-info h1 {
	font-size: 14px;
	display: inline;
}

/*--- MAX WIDTH 480px ---*/
@media screen and (max-width:479px) {
	.single-slide .JSproduct {
		width: 100%;
	}
	.product-content, .JSproduct-slider .product-content {
		max-width: 70%;
		margin: 0 auto;
	}
	#product-preview .JSproduct-slider .product-content {
		max-width: 75%;
	}
	.JSproduct-list.list-view .product-content {
		max-width: 90%;
	}
	.JSproduct-list.list-view .JSproduct .product-details li {
		width: 100%;
	}
	.summary-amount {
		font-size: 1em;
	}
	.header-cart a {
		margin-top: 8px;
	}
}
.file-upload {
	position: relative;
	overflow: hidden;
	margin: 10px;
}
.file-upload input.file-input {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}

/*================================================
=            artikal vezani proizvodi            =
================================================*/
.vezani_artikli {}
.vezani_artikli .JSproduct .product-image-wrapper{
	margin: 0 !important;
	height: 130px;
}
.vezani_artikli .action-holder,
.vezani_artikli .JSproduct .product-price,
.vezani_artikli .JSproduct input[type="number"] {
	margin: 0;
}
.vezani_artikli .image-holder {
	padding: 0;
}
.vezani_artikli .description-holder {
	float: left !important;
}
.vezani_artikli .JSproduct .product-title {
	margin-top: 10px;
	text-align: left;
	padding: 0;
}
.vezani_artikli .JSproduct .product-price {
	margin: 16px 0;
	text-align: right;
}
.vezani_artikli .action-holder {
	text-align: right;
}
.vezani_artikli .JSproduct input[type="number"] {
	height: 28px;
	width: 60px;
}
.vezani_artikli .product-content {
	margin-bottom: 16px;	
}
.vezani_artikli .input-and-button {
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-align: center;
	align-items: center;
	display: -ms-flexbox;
	display: flex;
}
.vezani_artikli .input-and-button .JSadd-to-cart {
	-webkit-flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
	-o-flex: 1;
	flex: 1;
	margin: 0;
	margin-left: 8px;
}

/*=====  End of artikal vezani proizvodi  ======*/


#JSbroj_cart {
    background-color: #00bb00;
    top: 16px;
    position: absolute;
    right: 20px;
    border-radius: 5px;
    padding: 1px 8px;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}

.add-to-cart-artikal {
	padding: 5px 28px;
}

.new-content {
	padding: 50px;
}

.new-content p, .new-content ul li {
	font-size: 13px;
}

.contact-info ul li {
	font-size: 14px;

}

.cart p {
	padding: 50px;
}

.person-registration {
	padding: 8px 17px;
}

.company-registration {
	padding: 8px 17px;
}

.registration-form {
	padding: 15px;
}

.fa-sign-in {
	position: absolute;
    left: 2px;
    color: #00bb00;
    font-size: 22px;
}

.fa-user-plus {
    position: absolute;
    left: 0px;
    color: #00bb00;
    font-size: 20px;
}

#b2b-login-icon {
	float: left;
}

.product-sale {
    position: absolute;
    background-color: #00bb00;
    color: #fff;
    font-weight: bold;
    padding: 3px 11px;
    top: 17px;
    left: -6px;
    font-size: 20px;
    border-radius: 2px;
}

.old-price {	
    text-decoration: line-through;
    font-size: 13px;
    /* font-weight: bold; */
    color: #a0a0a0;
    position: absolute;
    left: 56px;
    top: -12px;
}

.btn-slider {
	padding: 4px 10px;
    color: #fff;
    border-color: #bbb;
    background-color: #ccc;
    outline: none;
}

.btn-slider:hover {
	background-color: #ccc;
}

.previous, .slider-prev {
	position: absolute;
    top: 155px;
    z-index: 700;
}

.next, .slider-next {
    position: absolute;
    top: 155px;
    z-index: 700;
    right: 0;
}

.JSproduct-list .slider {
	position: relative !important;
}

.menu-close {
	display: none;
}

.tip-list, .sale-list {
	position: relative;
}

.vest-slika {
	width: 100%;
}

.single-news {
    padding: 37px 25px;
}

.files-list-item {
	font-size: 12px;
	font-weight: bold;
	position: relative;
	display: inline-flex;
    margin-right: 10px;
}

.files-name {
    font-weight: normal;
    margin: 6px;
}

.features-list li {
	font-size: 12px;
	border-bottom: 1px solid #ddd;
}

.files-link img {
	width: 60px;
}

.product-tip {
	height: 325px;
}

.konfigurator-grupa {
	max-width: 83px;
    overflow: hidden;
}

.brend-item {
	background: #fff;
    overflow: hidden;
    padding: 5px 15px;
    font-size: 17px;
    font-weight: bold;
    color: #222;
    width: 100%;
    height: 80px;
    margin: 15px 0;
    border-radius: 2px;
    text-align: center;
    letter-spacing: .025em;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    transition: background,color,box-shadow,.4s ease-in-out;
	box-shadow: 1px 1px 6px #bbb;
}

.article-edit-btn {
	background: #cee0cc;
    font-weight: bold;
    font-size: 17px;
    padding: 5px;
    position: relative;
    top: -5px;
    width: 73%;
    max-width: 150px;
} 

.article-edit-btn-grid {
	font-size: 12px;
    padding: 3px 8px;
    position: absolute;
    right: -6px;
    top: -225px;
}

.JSproduct-list > .article-edit-btn-grid {
	top: -333px !important;
}

.list-view .article-edit-btn {
    /*right: 30px;
    top: 90px;*/
    font-size: 12px;
    width: 100%;
    display: inline-block;
}

.article-edit-btn:hover {
	background-color: #b7b7b7;
}

#admin-menu {	
    background: #fff;
    width: 100%;
    height: 30px;
    position: relative;
    padding-top: 4px;
    padding-left: 10px;
    font-weight: bold;
    box-shadow: 1px 3px 12px 0px rgba(82, 82, 82, 0.3);
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.ms {
	margin: 0 5px;
}

.admin-links a:hover {
	color: #aaa;
}

.user-info-form .error {
	color: red;
    font-size: 12px;
    position: relative;
    top: -11px;
}

.success {
    color: #1fa31f;
    font-size: 14px;
    font-weight: bold;
    position: relative;
    top: -52px;
    left: 142px;
}

.submit-btn-edit {
    border: none;
    background-color: #008800;
    margin: 15px;
    padding: 7px 20px;
    color: #fff !important;
}

/*Pop-up banner*/

.popup-banner-background {
position: fixed;
top: 0;
left: 0;
height: 100%;
width: 100%;
background: rgba(43, 43, 43, 0.8);
z-index: 16000003;

}

.popup-banner-wrapper {
       left: 50%;
       position: fixed;
       z-index: 99999;
       top: -1000px;
       width: 650px;
       height: 650px;
       -moz-transition: all 2s ease;
       -webkit-transition: all 2s ease;
       -o-transition: all 2s ease;
       transition: all 2s ease;
}

.banner-center {
       top: 50%;
}

.popup-banner {
       position: relative;
       top: -50%;
       box-shadow: 0 0 10px 0 #000;
       left: -50%;
       /* height: 650px; */
		width: 613px;
}

.popup-banner #banner-close {
       position: absolute;
       top: 10px;
       right: 10px;
       color: #000;
       cursor: pointer;
       font-size: 24px;
		font-weight: bold;
}


.conf-dd {
	position: relative;
}

.conf-drop-down {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}


.conf:hover .conf-drop-down {
	display: block !important;
	background-color: #ddd;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content li a {
    color: black;
    padding: 6px 15px;
    text-decoration: none;
    display: block;
    text-align: left;
    margin: 0 !important;

}

.dropdown-content li a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content li {
	display: block !important;
	float: none !important;

}

/*NARUDZBINE*/

/*select[name^="web_kupac_id"] {
    max-width: 320px;
}

input[value^="Izmeni kupca"]{
    padding: 5px 15px;
    font-size: 12px;
    margin-top: 10px;
}
*/
.izmeni-kupca {
    padding: 5px 15px;
    font-size: 12px;
}

.cat-img-1 {
	max-width: 30px;
}
.cat-img-2 {
	display: block;
	max-width: 75px;
	max-height: 75px;
	margin: 0 auto;
}
